/*
Theme Name: El9nou

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.add_web_home {
    position: fixed;
    z-index: 99999;    
    bottom: 15px;
    text-align: center;
    width: 100%;
}

.add_home_content{
	width: 75%;
	margin: auto;
	background: #e6e6e6;
    padding: 15px;
    position: relative;
}

.add_home_content .close {
	font-family: fantasy;
}

img.logo_add_home {
    margin-bottom: 10px;
}

.ath-action-icon {
    width: 1.4em;
    height: 1.5em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAANlBMV?0flzRhgNiFZQkOXY0aADQZCOCPlsZJ46Rx0jhp3IiN2wGDHhxtldrlwQAAAABJRU5ErkJggg==);
    background-size: 100% auto;
}