  /* ==========================================================================
  Footer LESS-CSS
  ========================================================================== */


  /* == Typography Variables & Colors Variables == */

  @import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

  @font-serif: 'Merriweather', serif;
  @font-sans: 'Open Sans', sans-serif;

  @light: 300;
  @regular: 400;
  @semibold: 600;
  @bold: 700;
  @extrabold: 800;

  @color: #c4003e;
  @color-valles: #008c6e;
  @color-grey-f: #333333;
  @color-grey: #666666;
  @color-grey-w: #808080;
  @color-line: #ddd; //b2b2b2 // e2e2e2
  @color-9tv: #262626;
  @color-black: #000000;
  
  /* ================================*/

  footer {

        h1 {
          font-family: @font-sans;
          font-size: 14px;
          font-weight: @extrabold;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: #FFF;
        }

        section.sitemap {
          background-color: #e9e9ea;
          padding-top: 50px;
          padding-bottom: 70px;

          ul.footer-list {
            list-style: none;
            margin-bottom: 20px;

            li {
              font-family: @font-sans;
              font-size: 13px;
              line-height: 22px;               

              a {
                color: #000;
              }
              a:hover {
                color: @color;
              }
            }

            li:first-child {
              font-family: @font-sans;
              font-size: 13px;
              font-weight: @extrabold;
              margin-bottom: 15px;
              text-transform: uppercase;
            }
          }
        }
        section.ads {
          background-color: #595959;
          padding-top: 50px;
          padding-bottom: 70px;
          display: none;

          .newsletter-cont {
            margin-bottom: 50px;

            input {
              font-size: 12px;
              font-style: italic;
              color:@color-black;
              width: 270px;
              background-color: @color-line;
              border: none;
              height: 40px;
              padding-left: 10px;
              margin-right: -5px;
            }
            .btn-newsletter {
              font-family: @font-sans;
              font-size: 12px;
              font-weight: @bold;
              width: 120px;
              background-color: @color;
              height: 40px;
              color: #FFF;
              text-align: center;
              border: none;
            }
          }          

        }

        section.group {
          background-color: #b2b2b2;
          padding-top: 50px;
          padding-bottom: 40px;

          .element {
            margin-bottom: 0px;
          }

          h1 {
            color:@color-black;
          }

          .gencat {
            width: 150px;
          }

          ul.logos-corp  {
            list-style: none;

            li {
              display: inline-block;
              margin-right: 30px;

              img {
                max-width: 100%;
                height: auto;
                margin-bottom: 20px;
              }
            }
          }
          ul.legal {
            list-style: none;

            li {
              a {
                color:@color-black;
                font-size: 12px;
                line-height: 22px;
              }
            }

          }
        }
        .socket {
          font-family: @font-sans;
          background-color: @color;
          min-height: 80px;
          //line-height: 80px;
          color: #FFF;
          font-size: 13px;   

          ul.politiques {
            margin-top: 20px;
            margin-bottom: 20px;

            li {
              list-style: none;              

              a {
                color: #FFF;
              }
            }
          }

          .text-left {
            padding-top: 30px;
          }
          .text-right {
            padding-top: 25px;
          }   
          
          .social-cont {            

            ul.footer-socials {
              list-style: none;            

              li {
                display: inline-block;
                margin-right: 0px;              

                a  {
                  color: #FFF;
                  font-size: 28px;

                  i:before {
                    margin: 0px;
                  }

                  .fa-youtube {
                      font-size: 17px;
                      background: #FFF;
                      height: 28px;
                      width: 28px;
                      border-radius: 50%;
                      color: #c4003e;
                      text-align: center;
                      line-height: 28px;
                      top: -4px;
                      position: relative;
                  }
                  .fa-whatsapp {
                      font-size: 17px;
                      background: #FFF;
                      height: 28px;
                      width: 28px;
                      border-radius: 50%;
                      color: #c4003e;
                      text-align: center;
                      line-height: 28px;
                      top: -4px;
                      position: relative;
                  }
                }
              }
            }
          }

        }

        .digues-teva {
          cursor: pointer;
        }
      }  

      .fit-vertical {
        display: table-cell;
        height: 100%;
        vertical-align: top;
      }


      /*-------------- Desktop landscape ---------------*/

      @media (min-width: 1200px) {

      }


      /*-------------- Desktop potrait ----------------*/

      @media (min-width: 980px) and (max-width: 1199px) {


      }

      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 980px) and (max-width: 1024px) {
        .adds .add-left, .adds .add-right {
          display: none;
        }
      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 991px) {

      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {


        footer section.ads .newsletter-cont input {
          width: 200px;
        }
        footer section.ads .newsletter-cont .btn-newsletter {
          width: auto;
          padding-left: 10px;
          padding-right: 10px;
        }
        footer section.group ul.logos-corp li {
          margin-right: 20px;
        }
        footer section.group {
          padding-bottom: 40px;
        }
        footer .socket  {
          min-height: 80px;
          line-height: 22px;
          padding-top: 17px;

          span {
            text-align: center !important;
            display: block; 
          }
        }

      }


      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {


        footer section.sitemap {
          padding-bottom: 40px;
            display: none; ///////////////

            ul.footer-list {
              list-style: none;
              text-align: center;
              margin-bottom: 30px;
            }
          }
          footer section.ads {
            text-align: center;

            .social-cont {
              margin-bottom: 30px;
            }
          }
          footer section.group {
            padding-bottom: 40px;
            text-align:  center;
            display: none; ///////////////

            ul.logos-corp li {
              margin-right: 20px;
            }
            ul.logos-corp li:last-child {
              margin-right: 0px;
            }
          }
          footer .socket  {
            min-height: 155px;
            line-height: 22px;
            padding-top: 17px;

            span {
              text-align: center !important;
              display: block; 
            }
          }

          footer section.ads .newsletter-cont input {
            width: 180px;
          }
          footer section.ads .newsletter-cont .btn-newsletter {
            width: auto;
            padding-right: 10px;
            padding-left: 10px;
          }
              
          footer .socket .social-cont ul.footer-socials {
              list-style: none;
              height: 40px;
              text-align: center;
              margin-top: 20px;
          }   
          footer .socket .social-cont {
            height: 45px;
        }
        footer .socket .text-right, footer .socket .text-left {
          padding-top: 0px;
        }

        }
