      /* ==========================================================================
         Layout LESS-CSS
         ========================================================================== */

         /* CSS Transitions */
         * {
          //transition:all 100ms ease;
        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #333 !important;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #333 !important;
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #333 !important;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #333 !important;
        }

        ///////

        /* Highlight Styles */
        ::selection { background-color:#f2f2f2; color:@color; }
        ::-moz-selection { background-color:#f2f2f2; color:@color; }

        ::-webkit-input-placeholder { /* WebKit browsers */
          color:@color-black;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:@color-black;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:@color-black;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
          color:@color-black;
        }
        body {
          color:@color-black;
          background-color: #FFF;
          overflow-x: hidden;
        }
        html, body{  
          height: 100%;
          min-height: 100%;
          font-family: @font-serif;
          font-size: 14px;
          line-height: 20px;

          a {
            transition:all 0.2s ease;
          }     
          a:active, a:focus, a:hover {
            text-decoration: none !important;
            outline: none;
            //color: @color;
          } 

        }
             
        h1, h2, h3, h4, h5, h6 {
          margin: 0;
          padding: 0;
        }
        ul, ol {
          margin: 0;
          padding: 0;
        }
        .clear {
          clear: both;
          display: block;
          overflow: hidden;
          visibility: hidden;
          width: 0;
          height: 0;
        }
        img {
          max-width: 100%;
          height: auto;
        }
        /* centered columns styles */
        .row-centered {
          text-align:center;
        }
        .col-centered {
          display:inline-block;
          float:none;
          /* reset the text-align */
          text-align:left;
          /* inline-block space fix */
          margin-right:-4px;
        }

        textarea:hover, 
        input:hover, 
        textarea:active, 
        input:active, 
        textarea:focus, 
        input:focus,
        button:focus,
        button:active,
        button:hover {
          outline:0px !important;
        //  -webkit-appearance:none;
        }   

        body.in {
          overflow: hidden;
        }  

        

      /* ////////////////////////////////////////////////////////
      HEADER 
      /////////////////////////////////////////////////////// */

      // TOP WRAPP
      .topbar-wrapp {
        height: 40px;
        line-height: 40px;
        width: 100%;
          background-color: #333; //000
          color: #FFF;

          ul.corporative, ul.user {
            li {
              display: inline-block;
            }
            li:before {
              content: "|";
              margin-right: 5px;
              font-size: 11px;
              color: #666;
            }
            li:first-child:before {
              content: "";
              margin-right: 5px;  
              margin-left: -5px;         
            }
          }      

          a {
            color: #FFF;
            font-size: 12px;
            font-family: @font-sans;
          }

          a:hover {
            color: @color;
          }

          .data {
            margin: auto;
            font-family: @font-serif;
            font-size: 11px;
            width: 175px;
          }

          .data:before {
            content:"";
            padding-left: 35px;
            border-left: 1px solid @color-line;
          }

          .data:after {
            content:"";
            padding-right: 35px;
            border-right: 1px solid @color-line;
          }

        }

      // HEADER WRAPP
      .header-wrapp {
        position: relative;
        height: 90px;     
      }
      
       

      //////////////////////////////////
      // HEADER 
      /////////////////////////////////

      header.header {
      //  background-image: url(../img/bg-header.png); // background image INDIANA
        height: 140px;
        transition: all .3s ease-in-out;
        
        .search-btn {
          position:absolute;
          right: 0px;
          top: 30px;
          font-size: 24px;
          color:@color-black;
          cursor: pointer;
         // z-index: 99;
       }      
       .hamburger {
        position: absolute;
        top: 35px;
        left: 0px;
        margin: 0;
        padding: 0;
        // z-index: 99;
      }
        /*.search.in, .hamburger.is-active {
          color: #FFF;

          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #FFF;
          }
        }
        */
        .hamburger-box {
          width: 25px;
          height: 20px;
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          width: 25px;
          height: 2px;
        }
        .hamburger-inner:before {
          top: -7px;
        }      
        .hamburger-inner:after {
          bottom: -7px;
        }      

        .navbar-brand {
          width: 170px;
          height: auto;
          margin:auto;
          display: block;
          float: none;
          padding: 0;
          padding-top: 32px;

          img {
            max-width: 100%;
            height: auto;
          }
        }

        nav {
          border-top: 2px solid @color;
          border-bottom: 1px solid @color-line;
          height: 50px;
          line-height: 49px;
          background: #FFF;

          ul {
            padding: 0;
            margin: 0;
            text-align: center;

            li {
              display: inline-block;    

              a {
                font-family: @font-sans;
                font-weight: @semibold;
                color:@color-black;
                font-size: 12px;
                line-height: 20px;
              }
            }

            li:before {
              content:"";
              padding-left: 37px; //49
              border-left: 1px solid @color-line;
            }
            li:after {
              content:"";
              padding-right: 37px; //48
            }

            li:last-child:after {
              content:"";           
              border-right: 1px solid @color-line;
            }
          }
          .sf-menu {
            float: none !important;
          }
          .sf-menu li {
            background: transparent;
            display: block;            
          }
          .sf-menu>li {
            float: none !important;
            display: inline-block !important;
          }
          .sf-menu a {
            display: inline-block;
            padding: 0;
          }
          .sf-arrows .sf-with-ul:after {
            content: '';
            border: none;            
          }
          .sub-menu {
            background-color: #FFF;
            text-align: center;
            z-index: 91;

            li {
              border-bottom: 1px solid @color-line;
            }
          }

          .sub-menu li:before {
            content: "";
            padding-left: 0;
            border-left: none;
          }
          .sub-menu li:after {
            content: "";
            padding-right: 0px;
          }
          .sub-menu li:last-child:after {
            border: none;
          }
          .sub-menu a {
            font-weight: @regular;
            display: block;
            line-height: 45px;
          }
          
        }
      }
      
      //////////////////////////////
      // HEADER SMALL
      //////////////////////////////
      .smaller {
        transition: all .3s ease-in-out;
        position: fixed;
        height: 60px;
        background: rgba(255, 255, 255, 0.95);
        border-bottom: 1px solid @color-line;
        width: 100%;
        top: -70px;
        right: 0px;
        z-index: 9;

        .container {
          position: relative;
        }

        .search-btn {
          position:absolute;
          right: 10px;
          top: 18px;
          font-size: 24px;
          color:@color-black;
          cursor: pointer;
         // z-index: 99;
       }      
       .hamburger {
        position: absolute;
        top: 20px;
        left: 15px;
        margin: 0;
        padding: 0;
          // z-index: 99;
        }

        .hamburger-box {
          width: 25px;
          height: 20px;
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          width: 25px;
          height: 2px;
        }
        .hamburger-inner:before {
          top: -7px;
        }      
        .hamburger-inner:after {
          bottom: -7px;
        }      

        .navbar-brand {
          width: 150px;
          height: auto;
          margin:auto;
          display: block;
          float: none;
          padding: 0;
          padding-top: 18px;

          img {
            max-width: 100%;
            height: auto;
          }
        }

      }
      .smaller.in {
        top: 0px;
      }


      /* //////////////////////////////////////////
      ADDS RIGHT TOP LEFT
      ////////////////////////////////////////// */
      
      .adds {
        position: relative;

        .add-top {

        }

        .add-left {
          left: -180px;
          top: 0;
          width: 160px;
          position: absolute;
        }

        .add-right {
          right: -180px;
          top: 0;
          width: 160px;
          position: absolute;
        }
      }

      .sticker {
        position: relative;
        width: 1140px;
        margin: 0 auto;
      }
      .sticker .ad-sticky-lt {
        left: -180px;
      }
      .sticker .ad-sticky-lt, .sticker .ad-sticky-rt {
        position: absolute;
        top: 0;
        margin: 25px 10px 5px;
        width: 160px;
      }
      .ad-sticky-lt, .ad-sticky-rt .ad-wrap {
        left: 0;
      }
      .sticker .ad-sticky-lt .adstick-wrap {
        width: 160px;
      }
      .sticker .ad-sticky-lt > * {
        float: right;
      }
      .adstick-wrap .caption {
        display: none;
      }
      .sticker .ad-sticky-lt .adstick-wrap .ad {
        display: inline;
        float: right;
      }
      .sticker .ad-sticky-rt {
        left: 100%;
      }
      .limiter, .rg {
        zoom: 1;
      }

      //////////////////////////////
      // BARRA SUPERIOR BREADCRUMBS
      //////////////////////////////
      .barra-superior {
        font-family: @font-sans;
        font-weight: @extrabold;
        font-size: 18px;
        border-top: 1px solid @color-line;
        border-bottom: 1px solid @color-line;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 40px;

        .breadcrumb {
          color: @color;
          float: left;
          background: none;
          padding: 0px;
          margin: 0px;

          a {

          }
        }
        ul.compartir {
          list-style: none;
          float: right;
          
          li {
            display: inline-block;
            font-size: 13px;
            color: @color-grey-w;
            font-weight: @regular;

            a {
              font-size: 15px;
              color: @color-grey-w;
              font-weight: @regular;
            }                      
          }
          li:after {
              content: "";
              border-left: 1px solid @color-line;
              margin-left: 15px;
              margin-right: 10px;
          }  
          li:first-child:after {
            margin-left: 10px;
            margin-right: 0px;
            content: "";
            border: none;
          }
          li:nth-child(2):before {
              content: "";
              border-left: 1px solid @color-line;
              margin-right: 15px;
            }
          li:last-child:after {
              margin-right: 0px;
            }

        }
        .share {
          font-size: 13px;
          font-weight: @light;
          float: right;
          color: @color-grey-w;

          i {
            font-size: 15px;
            color: @color-grey-w;
          }
        }
      }

      .fitxa-content  {
        font-size: 18px;
        /*border-top: 1px solid @color-line;
        border-bottom: 1px solid @color-line;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 40px;*/
        
          ul.compartir {
          list-style: none;
          float: none;         
          width: 100%;
          border-bottom: 1px solid @color-line;
          min-height: 40px;
          line-height: 40px;
          margin-bottom: 40px;

          li {
            display: inline-block;
            font-size: 13px;
            color: @color-grey-w;
            font-weight: @regular;

            a {
              font-size: 15px;
              color: @color-grey-w;
              font-weight: @regular;
            }                      
          }
          li:after {
              content: "";
              border-left: 1px solid @color-line;
              margin-left: 15px;
              margin-right: 10px;
          }  
          li:first-child:after {
            margin-left: 10px;
            margin-right: 0px;
            content: "";
            border: none;
          }
          li:nth-child(2):before {
              content: "";
              border-left: 1px solid @color-line;
              margin-right: 15px;
            }
          li:last-child:after {
              margin-right: 0px;
            }

        }
      }
      
        /////////////////////////////////////////////
        //  LLISTAT DE NOTÍCIES ELEMENTS EN COMÚ
        ////////////////////////////////////////////
        /* */
        .bloc {
          display: block;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: table;
        }
        
        .noticia {
          height: 100%;  
          display: table-cell;              
          vertical-align: top;          
        }

        .alsada {
          height: 100%; 
          display: table-row;
        }

        article {
          margin-bottom: 40px;

          h1 {
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 18px;
            line-height: 26px;
            color:@color-black;
            margin-bottom: 10px;
            transition:all 0.3s ease-in-out;
          }
          h1:hover {
            color: @color;
          }
          h2 {
            font-family: @font-sans;
            font-weight: @light;
            font-size: 14px;
            line-height: 24px;
            color: @color;
            margin-bottom: 10px;
          }
          p {
            font-family: @font-serif;
            font-weight: @regular;
            font-size: 13px;
            line-height: 20px;

            a {
              color:@color-black;
                  //border-bottom: 1px solid@color-black;
                }
              }              
            }

            ul.info-article {
              position: absolute;
              bottom: 0px;
              padding-bottom: 10px;
              border-bottom: 1px solid @color-line;
              right: 15px;
              left: 15px;

              li {
                display: inline-block;
                color: @color-grey-f;
                font-size: 13px;
                font-family: @font-sans;
                font-weight: @light;
                margin-right: 10px;
                transition: all .2s ease-in-out;                

                i {
                  color: @color-grey-w; //333333
                }
                span {
                  color: @color-grey-f;
                }

                a {
                  cursor: pointer;
                  color: @color-grey-f;
                  transition:all 0.2s ease;
                }
                a:hover {
                 //border-bottom: 1px solid #b3b3b3;
               }
             }
             li.sharer {
              position: absolute;
              right: 0px;
              margin-right: 0px;
              font-size: 15px;
            }
          }  

      /* ///////////////////////////////////////////////////////////
      ASIDE
      ////////////////////////////////////////////////////////////*/

     .sidebar-mobile {
        
        h2 {
          font-family: @font-sans;
          font-weight: @extrabold;
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 10px;
          bottom: 1px solid #e2e2e2;
        }

        figure {
          img {
            margin-bottom: 20px;
          }
        }

      }
      
      /* Bànners SIDEBAR & Inside Home in mobile devices */
      .banner {
          margin-bottom: 20px;
          position: relative;

          .group {
            position: absolute;
            width: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
            top: 50%;                      
          }

          figcaption {
            position: absolute;
            bottom: 30px;            
            width: 100%;
            color: #FFF;
            text-align: center;
            font-family: @font-sans;
            font-weight: @regular;
            text-transform: uppercase;

            a {
              color: #FFF;
              font-size: 12px;
            }

            span {
              font-weight: @bold;
            }
          }
          figcaption.fm {
            color: #000;
            
            a {
              color: #000;
            }
          }

          figcaption.magazin {
            bottom: 40px;
          }

        }

        .banner.inside-home {
          margin-bottom: 60px;
          margin-top: 60px;
          background: #e2e2e2;
          padding: 30px;
          border-top: 2px solid #c4003e;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      /* FI Bànners SIDEBAR & Inside Home in mobile devices */


      aside {
        margin-bottom: 60px;

        
        .anunci {
            iframe {
            // width: 260px;

              img {
                max-width: 260px;
                height: auto;
              }
            }
          }

        
        .most-viewed-news {
          max-height: 520px;
        //  border: 1px solid @color-line;
          margin-bottom: 20px;
          position: relative;
          border-left: none;
          border-right: none;
          overflow: hidden; 
          border-bottom: 2px solid #ddd;          
          //background-color: #f4f4f4;

          .gradient {
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            height: 60px;
            width: 90%;
            position: absolute;
            left: 1px;
            bottom: 0px;
            z-index: 9;
            pointer-events:  none;
          }
          .news-items {
            border-right: 1px solid @color-line;
            border-left: 1px solid @color-line;
            overflow-y: scroll;
            max-height: 470px;
            position: relative;
            //right: -17px;
          }
          h1 {
            padding: 15px;
            background-color: #FFF;
            font-weight: 400;
            font-weight: @regular; // regular
            font-family: @font-sans;
            text-transform: uppercase;
            font-size: 13px;
          //  text-transform: uppercase;
            text-align: center;
            color:#000;
            border: 1px solid @color-line;            
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;

            .fa {
              float: right;
              margin-right: 5px;
            }
          }
          .icon {
            width: 45px;
            display: inline-block;
            vertical-align: top;
            font-size: 45px;
            margin-left: -15px;
            color: #aebac2;
            text-align: left;
          }
          .news {
            margin-left: 15px;
            margin-right: 15px;
           /* margin-left: 0px;
            margin-right: 0px;*/
            border-bottom: 1px solid #f2f2f2;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0px;         

            h2 {
              font-family: @font-sans;
              font-weight: @light;
              font-size: 13px;
              line-height: 18px;
              color:@color-black;
              text-align: left;
              display: inline-block;
              width: 70%;
              margin-left: 15px;
            }
          }
          .news:last-child {
            /*border-bottom: none;*/
          }

        }

        .acudit {
           margin-bottom: 20px;
           
            h1 {
              padding: 15px;
              background-color: #FFF;
              font-weight: @bold; // regular
              font-family: @font-sans;
              font-size: 13px;
            //  text-transform: uppercase;
              text-align: center;
              color:@color-black;
              border-bottom: 1px solid @color-line;
              border-right: 1px solid @color-line;
              border-left: 1px solid @color-line;
              border-top: 1px solid @color-line;
            }
        }

        h4.titol-hemeroteca {
          background-color: #FFF;
          border: none; // 1px solid @color-line;
          /* height: 45px;
          line-height: 45px; */
          padding: 15px;
          color: #000;
          text-align: center;
          font-family: @font-sans;
          text-transform: uppercase;
          font-weight: @regular; // regular
          font-size: 13px;
          border: 1px solid @color-line;
          -webkit-border-top-left-radius: 6px;
          -webkit-border-top-right-radius: 6px;
          -moz-border-radius-topleft: 6px;
          -moz-border-radius-topright: 6px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;

          .fa {
            font-size: 14px;
            margin-right: 4px;
            float: right;
          }
        }
        h5.data {
          font-family: @font-sans;
          font-weight: 400;
          background: @color-line;
          height: 30px;
          text-align: center;
          color:@color-black;
          line-height: 30px;
          font-size: 12px;
          border-left: 1px solid @color-line;
          border-right: 1px solid @color-line;
        }        
        .p-hemeroteca img {
          border: 1px solid @color-line;
          padding: 20px;
        }
        .p-acudits img {
          border: 1px solid @color-line;
          border-top: none;
          padding: 0px;
        }
        .veure-tota-hemeroteca {
          display: block;
          border: 1px solid @color-line;
          border-top: none;
          height: 38px;
          line-height: 38px;
          color:@color-black;
          font-size: 12px;
          text-align: center;
          margin-bottom: 20px;
          font-family: @font-sans;
          text-transform: none;
        /*  border-left: none;
          border-right: none;*/
          border-bottom: 2px solid #ddd;
        }
        #twitter-widget-0 {
          border: 1px solid @color-line !important;
          border-bottom: 2px solid @color-line !important;
          margin-bottom: 20px !important;
          -webkit-border-top-left-radius: 6px;
          -webkit-border-top-right-radius: 6px;
          -moz-border-radius-topleft: 6px;
          -moz-border-radius-topright: 6px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }
      }

      /////////////////////////////
      // DIGUES LA TEVA OVERLAY
      ////////////////////////////

      .overlay.pc {
          background: rgba(255, 255, 255, 0.97);
          position: fixed;
          z-index: 99;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          transform: scale(.95,.95);
          opacity: 0;
          pointer-events: none;
          transition: all .5s ease-in-out;

          .overlayInner {
            width: 600px; /* 400 */
            background-size: 348px 400px;
            background-position: center center;
            border: 1px solid @color-line;
            padding: 30px;
            //padding-top: 60px;
            background-color: #eee;
            text-align: center;
            position: relative;
            margin: 0 auto;
            margin-top: 50px;
            display: table;

               .hamburger2 {
                margin: 0px;
                padding: 0px;
                position: absolute;
                right: 30px;
                top: 30px;
                border: none;
                background: transparent;
              }
              .hamburger-box {
                width: 25px;
                height: 20px;       
              }        
              .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
                background-color:@color-black;
                width: 25px;
                height: 2px;
              }
              .hamburger--squeeze.is-active .hamburger-inner {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);              
              }
              .hamburger--squeeze.is-active .hamburger-inner::before {
                top: 0;
                opacity: 0;            
              }
              .hamburger--squeeze.is-active .hamburger-inner::after {
                bottom: 0;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);             
              }

              h1 {
                font-family: @font-sans;
                font-weight: @extrabold;
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 20px;
              }
              p {
                font-family: @font-serif;
                font-size: 13px;
                line-height: 20px;
                margin-bottom: 30px;
              }
              input {
                width: 100%;
                background-color: #FFF;
                padding-left: 10px;
                font-size: 12px;
                height: 40px;
                border:none;
                margin-bottom: 10px;
                color: #333;
              }
              textarea {
                font-size: 12px;
                width: 100%;
                background-color: #FFF;
                padding-top: 5px;
                padding-left: 10px;
                height: 245px;              
                font-size: 12px;
                border:none;
                color: #333;
                margin-bottom: 10px;
              }
              .btn-send {
                width: 100%;
                height: 40px;
                border: none;
                background-color:@color-black;
                color: #FFF;
              }
        }
      }

      .overlay.pc.in {
        pointer-events: auto;
        transform: scale(1,1);
        opacity: 1;
        background: rgba(255,255,255,0.95);
        z-index: 9999;
        
      }

       /////////////////////////
        // SHARE OVERLAY
        ////////////////////////

        .overlay-share {
          background: rgba(0, 0, 0, 0.95);
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          transform: translateY(100%);
          opacity: 0;
          transition: all .5s ease-in-out;
          font-family: @font-sans;
          font-size: 14px;

          .fa {
              font-size: 13px;
              margin-right: 5px;
          }

          .hamburger {
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 30px;
            }
            .hamburger-box {
              width: 25px;
              height: 20px;       
            }        
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color: #FFF;
              width: 25px;
              height: 2px;
            }
            .hamburger--squeeze.is-active .hamburger-inner {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition-delay: 0.14s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
            .hamburger--squeeze.is-active .hamburger-inner::before {
              top: 0;
              opacity: 0;
              transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
            }
            .hamburger--squeeze.is-active .hamburger-inner::after {
              bottom: 0;
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
          
          .overlayInner {
              position: absolute;
              width: 350px;
              //height: 350px;
             // border: 1px solid #e2e2e2;
              padding: 0px;
              vertical-align: middle;
              text-align: center;

              ul {
                margin-top: 50px;
                width: 250px;              
                list-style: none;
                margin: auto;

                li {
                  border-bottom: 1px solid #e2e2e2;
                  color: #FFF;
                  text-transform: uppercase;
                  line-height: 55px;                  

                  a {
                    color: #FFF;
                    text-transform: uppercase;
                    display: block;
                    transition: all .3s ease-in-out;
                  }
                }
                li:first-child {
                  border-top: 1px solid #e2e2e2;
                  color: #edb2c5;
                  font-size: 13px;
                  text-transform: inherit;
                }
                li a:hover {
                  color: #c4003e;
                  background-color: #FFF;
                }
              }
          }
        }

        .overlay-share.in {
          transform: translateY(0%);
          opacity: 1;
        }
        .tooltip.left .tooltip-arrow {
          border-left-color: #e2e2e2;
        }
        .tooltip-inner {
          color: #000;
          background-color: #e2e2e2;
          border: 1px solid #e2e2e2;
        }
        .tooltip.left {
          z-index: 9;
        }
       

        /////////////////////////
        // EDITION OVERLAY
        ////////////////////////

        .overlay-edition {
          background: rgba(255, 255, 255, 0.95);          
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          opacity: 0;
          transition: all .5s ease-in-out;
          font-family: @font-sans;
          font-size: 14px;
          // transform: translateY(100%);
          pointer-events: none;

          a {
            color: #000;
          }

          .center {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: @color;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: table;
            z-index: 99;

            h1 {
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #FFF;
              display: table-cell;
              height: 100%;
              vertical-align: middle;
            }
          }

          .left {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 100%;
            width: 50%;
            float: left;
            background-color: rgba(255, 255, 255, 0.85);
          }
          .right {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 100%;
            width: 50%;
            float: right;
            background-color: rgba(255, 255, 255, 0.95);
          }
          .bg-white {
            background-color: rgba(255, 255, 255, 0.85);
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
          }
          .cc {
            position: absolute;
            vertical-align: middle;
            text-align: center;

            img {
              width: 215px;
              height: auto;
            }
            span {
              display: block;
              font-family: @font-serif;
              margin-top: 10px;
            }
          }
        }
        .overlay-edition.in {
           transform: translateY(0%);
          opacity: 1;
          pointer-events: all;
        }


      /////////////////////////////////////////////////////////////
      /* HEMEROTECA  + ACUDITS
      ///////////////////////////////////////////////////////////*/
      
      .hemeroteca {

        .hemeroteca-item {
          margin-bottom: 60px;

          a {
            color: #333;
          }
          img {
            border: 1px solid @color-line;
            padding: 20px;
            height: 355px;
          }
          .data {
              font-size: 13px;
              display: block;
              margin-top: 10px;
              font-family: 'Open Sans',sans-serif;
              font-weight: 400;
              float: left;
          }
          .options {
              float: right;
              color: #333;
              font-size: 20px;
              padding-top: 10px;
          }

        }
      }

      .acudit-item {
        margin-bottom: 30px;
        border: 1px solid #e2e2e2;
      }
      .my-gallery figure {
        position: relative;
        display: block;
        float: left;
        margin: 10px;
        width: 30.3%;

        .data {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background-color: #FFF;
          color: #000;
          font-size: 12px;
          padding: 8px;
          font-family: @font-sans;
        }
        .share {
          z-index: 99;
          position: absolute;
          right: 0px;
          bottom: 0;
          background: #e2e2e2;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color: #000;
          
          a {
            color: #000;
          }
        }
      }      

      .my-gallery figure.large {
        width: 96%;
        margin: 15px;
      }
      .pswp__bg {
        background-color: rgba(255, 255, 255, 0.85) !important;
      }
      .pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption {
          background-color: rgba(0,0,0,0) !important;
      }
      .pswp__counter {
        color: #000 !important;
      }
      .pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
          background-color: rgba(0, 0, 0, 0) !important;
      }
      main.hemeroteca .prev-next-posts .prev-posts-link a, main.hemeroteca .prev-next-posts .next-posts-link a {
          color: #333333;
          border: 1px solid #ddd;
          font-family: @font-sans;
          font-size: 13px;
          display: block;
          text-align: center;
          background-color: #FFF;
          height: 40px;
          line-height: 40px;
          border-radius: 8px;
          padding-left: 20px;
          padding-right: 20px;
          transition: all 0.3s ease;
      }      
      main.hemeroteca .prev-next-posts .prev-posts-link {
          float: left;
      }
      main.hemeroteca .prev-next-posts .next-posts-link {
          float: right;
      }

      .post-type-archive-acudits .overlay-share {
          z-index: 99999;
      }

      /* //////////////////////////////////////////////////////////
      FARMÀCIES
      ///////////////////////////////////////////////////////////*/

      .avui-dema {
        font-family: @font-sans;
        font-weight: @light;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;

        span {
          font-weight: @bold;     
        }
      }

      .farmacies-list {
        font-family: @font-sans;
        border-top: 1px solid #ddd;
        padding-top: 15px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        margin-bottom: 40px;

        h4 {
          font-weight: @extrabold;
          font-size: 22px;
          line-height: 25px;
          margin: 0;
        }
        p {
          font-weight: @regular;
          font-size: 16px;
          line-height: 25px;
          margin: 0;
          margin-bottom: 20px;          
        }
      }

      .calendari {    
        margin-bottom: 50px;

        h2 {
          font-family: @font-sans;
          font-weight: @extrabold;
          font-size: 30px;
          line-height: 30px;
        }    
        p {
          font-family: @font-sans;
          font-weight: @regular;
          font-size: 16px;
          line-height: 25px;
          margin-top: 10px;  
          width: 70%;
        }
        .fc-month-button {
          display: none;
        }
        .fc-toolbar button {
            position: relative;
            background: transparent;
            border: none;
            box-shadow: none;
        }
        .fc-today-button {
          font-family: @font-sans;
          font-weight: @regular;
          padding: 0;
        }
        .fc-day-header {
          height: 40px;
          line-height: 60px;
          text-align: left;
          font-size: 20px;
          font-family: @font-sans;
          font-weight: @regular;
          border: none;
        }
        .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
          border: transparent;
        }
        .fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
            float: left;
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 30px;
            line-height: 30px;
            color: #000;
            display: block;
            width: 85%;
            padding-top: 10px;
            border-top: 10px solid #000;
        }
        .fc-unthemed .fc-today {
            background: #FFF;
        }
        .fc-row.fc-week  {
          //height: 95px;
        }
        .fc-today a {
          color: @color !important;
          border-color: #c4003e !important;
        }
       
      }

      /*///////////////////////////////////////////////////////////
      PERIODISME CIUTADÀ
      //////////////////////////////////////////////////////////// */

      .overlay.pc .overlayInner {
        width: 550px;
      }
      .PC-button {
          float: left;
          width: 50%;
          border: 2px solid #eee;
          min-height: 110px;
          padding: 24px;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 0;
          cursor: pointer;
          position: relative;
          background: @color;
          color: #FFF;
          border-radius: 0px; // 20
      }
      .PC-button span {
          font-family: 'Open Sans',sans-serif;
          font-weight: 800;
          text-transform: uppercase;
          font-size: 14px;
      }
      .PC-button p {
          margin-bottom: 0px;
          font-size: 13px !important;
          margin-top: 5px;
      }

      #form_periodisme_ciutada {
          display: none;
      }
      .pc-form {
        display: inline-block;
        margin-top: 40px;
      }

      .PC-button .icon {
          display: block !important;
          font-size: 26px !important;
          margin-bottom: 10px;
      }

      .fit-vertical {
        display: table-cell;
        height: 100%;
        vertical-align: top;
      }

    ///////////////////////////////////////////
    /* EL TEMPS */
    ///////////////////////////////////////////

    #eltemps {
      margin-top: 40px;

       .temps {
            margin-bottom: 30px;
            margin-top: 15px;
        }
        .imatge {
          color: #fff;
          font-size: 65px;
        }
        .temperatura-actual {
          padding: 25px;
          background-color: #e9e9ea;
          border-radius: 10px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          position: relative;
        }
        .temperatura-actual-2 {
          padding: 25px;
          background-color: #e9e9ea;
          border-radius: 10px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          position: relative;
          padding-top: 30px;
          padding-bottom: 15px;
        }
        .name-city {
          font-family: @font-sans;
          font-size: 45px;
          font-weight: 900;
          line-height: 40px;
          margin-bottom: 0px;
        }
        .informacio-temps {
          font-family: @font-sans;
          font-size: 13px;          
        }
        .icona-temps {
          font-size: 85px;
          line-height: 85px;
          margin-top: 35px;          
        }
        .temp-max-min {
          font-family: @font-sans;
          font-weight: @regular;
          font-size: 40px;
          line-height: 25px;
          margin-top: 7px;

          span {
            font-weight: @semibold;
          }

        }
        /////////////////
        .cerca-ciutat {
          border: 1px solid #e9e9ea;
          padding: 30px;
          border-radius: 20px;

          h2 {
            font-family: @font-sans;
            font-weight: @regular;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 78px;
          }
           input[type="text"]  {
            font-family: @font-sans;
            font-weight: @regular;
            width: 100%;
            height: 40px;
            font-size: 18px;
            padding-left: 15px;
            border:none;
            background: #f2f2f2;
          }
          input[type="submit"] {
            font-family: @font-sans;
            font-weight: @regular;
            width: 100%;
            height: 40px;
            font-size: 16px;
            padding-left: 15px;
            border:none;
            color: #FFF;
            background: #000;
            margin-top: 15px;
            text-align: left;
          }
        }
        /////////////////
        .temperatura, .ciutat {
          font-family: @font-sans;
           display: inline-block;
           color: #e2e2e2;
        }
        .temperatura:after {
          content: "|";
          margin-right: 2px;
            margin-left: 7px;
            font-size: 11px;
            vertical-align: bottom;
        } 

        input {
          width: 100%;
          height: 70px;
          font-size: 30px;
          padding-left: 30px;
        }
        .titol-previsio {
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 18px;            
            border-bottom: 1px solid #dddddd;
            min-height: 40px;
            line-height: 40px;
            margin-bottom: 40px;
            margin-top: 50px;
        }
        
        .previsio {
          font-family: @font-sans;
          font-weight: @regular;
          line-height: 16px;
          font-size: 13px;
          text-align: left; /* center */
          margin-bottom: 25px;
          border: 1px solid #e2e2e2;
          padding: 20px;
          padding-top: 30px;
          padding-bottom: 30px;
          border-radius: 10px;

            small {
              line-height: 15px !important;
              font-size: 11px !important;
            }
            .icona {
              font-size: 60px;
              display: block;
              margin: 0;
              margin-top: 0;
              margin-bottom: 20px;
            }
            .dia {
              font-family: @font-sans;
              font-weight: @extrabold;
              font-size: 16px;
              line-height: 20px;
              display: block;
            }
            .temp {
              font-family: @font-sans;              
              color: #000;
              line-height: 16px;
              font-size: 11px;
              display: block;
            }
            .bold {
                font-weight: @bold;
              }
            .icona-prev {
             /* 
               width: 26% !important;
               text-align: center;
              */
            }
            .dia-previsio {
             // width: 32% !important;
            }
            .dades-previsio {
              padding-top: 5px;
            }

        }
       
        .previsio-general i {
          font-size: 50px;
          font-size: 70px;
          margin-top: 35px;
        }

    }

    /* ///////////////////////////////////////////// */
    
    .page-404 {
      text-align: center;
      margin-bottom: 150px;
      padding-top: 40px;

      span {
        font-size: 50px;
        font-weight: 800;
        border-radius: 50%;
        background: #c4003e;
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        line-height: 110px;
        color: #FFF;
      }
      h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
        font-weight: 800;
        margin-bottom: 10px;
      }
      a {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #000;
          text-decoration: underline;
          text-transform: uppercase;
      }
    }

    #video-player-div {
        border: 1px solid #e2e2e2;
    }


    /* ////////////// defuncions ////////////////// */
    
    .defuncions {
      h2 {
        padding: 15px;
        padding-left: 0px;
        background-color: #fff;
        font-weight: 700;
        font-family: 'Open Sans',sans-serif;
        font-size: 13px;
        text-align: left;
        color: #000;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin-bottom: 38px;
      }
      p {
        padding: 20px;
        /* background: #000; */
        font-size: 12px;
        margin-bottom: 60px;
        color: #000;
        padding-bottom: 40px;
        border: 1px solid #ddd;
      }
    }    

    .esquela-item {
      text-align: center; 
      border: 1px solid #ddd;
      padding: 30px;
      padding-top: 70px;
      padding-bottom: 15px;
      position: relative;
      margin-bottom: 40px;


      h4 {
        font-weight: 800;
        font-family: 'Open Sans',sans-serif;
        font-size: 22px;
        margin-bottom: 10px;
      }
      h5 {
        font-size: 12px;
        line-height: 20px;        
        margin-bottom: 10px;
      }
      h6 {
        font-size: 13px;
        line-height: 20px;
      }
      h6:after {
        content: "";
        font-size: 10px;
        clear: both;
        display: block;
        letter-spacing: -1px;
        color: #000;
        border-bottom: 1px solid;
        line-height: 29px;
        height: 1px;
        width: 20px;
        margin: auto;
        margin-bottom: 20px;
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
      .data {
         display: block;
        margin-top: 20px;
        font-size: 13px;
        font-style: italic;
        padding-top:0px;
      }
      .plus {
        display: block;
        margin-top: 20px;
        font-size: 13px;
        border-top: 1px solid #ddd;
        padding-top: 10px;
      }
      .creu {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 43px;
        background-repeat: no-repeat;
      }
      a {
        color: #000;
        display: block;
      }
      .esquela-content {
        height: 80px;
        overflow: hidden;
        position: relative;
        transition: all .5s ease-in-out;

        .gradient {
            background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
            background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
            height: 80px;
            width: 100%;
            position: absolute;
            bottom: -20px;
            z-index: 9;
            pointer-events: none;
        }
      }
      .esquela-content.open {
        height: auto;

        .gradient {
          display: none;
        }

      } 

      figure.imatge-esquela {
          height: 80px;
          line-height: 80px;
          margin-top: -10px;
          margin-bottom: 10px;

          img {
            max-height: 100%;
            width: auto;
            width: inherit;
          }      

      }
      /*figure.imatge-esquela:after {
            content: "";
            font-size: 10px;
            clear: both;
            display: block;
            letter-spacing: -1px;
            color: #000;
            border-bottom: 1px solid;
            line-height: 29px;
            height: 1px;
            width: 20px;
            margin: auto;
            margin-bottom: 20px;
        }*/

    }

    .grid-item { width: 50%;  }

    /* /////// Bootstrap ///////// */ 

    @media (min-width: 992px) {

      main {

        .col-md-9 {
          width: 71%;
        }
        .col-md-3 {
          width: 29%;
        }

        .author-content {
            
            .col-md-3 {
              width: 25%;
            }

          }

      }
    }
    
    
   

      /*-------------- Desktop landscape ---------------*/

      @media (min-width: 1360px) {
         
    /*    .container {
          width: 1300px;
        }
        .col-md-9 {
          width: 75%;
        }
        .col-md-3 {
          width: 25%;
        }
        */
      
      }

       @media (min-width: 1200px) {

        main {

          .col-md-9 {
            width: 71%;
          }
          .col-md-3 {
            width: 29%;
          }

          .author-content {
            
            .col-md-3 {
              width: 25%;
            }

          }

        }
        #video-player-div {
          width: 310px !important;
          height: 274px !important;

          img {
            width: 100% !important;
            height: auto !important;
            top: 65px !important;
          }
          video {
            top: 65px !important;
          }
        }       

      }


      /*-------------- Desktop potrait ----------------*/

      @media (min-width: 980px) and (max-width: 1199px) {

        header.header nav ul li:before {
          padding-left: 24px;
        }
        header.header nav ul li:after {
          padding-right: 24px;
        }
        aside .most-viewed-news .news h2 {
          width: 60%;
          font-size: 12px;
        }
        #video-player-div {
            width: 250px !important;
            height: 221px !important;

            video {
              width: 250px !important;
            }
          }

      }

       /*--------------- Tablet ipad --------------------*/

      @media (min-width: 980px) and (max-width: 1024px) {
          .adds .add-left, .adds .add-right {
            display: none;
          }
          #cookie-law {
            position: fixed;
            bottom: 20px !important;
            left: 20px !important;
            right: 20px !important;
            text-align: center;
            z-index: 9999;
          }
          
          .fb_iframe_widget {
            width: 250px !important;
          }

          /* bootstrap */

      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 991px) {
         header.header nav ul li:before {
            padding-left: 10px;
          }
          header.header nav ul li:after {
            padding-right: 11px;
          }
          .grid-item { width: 100%;  }
      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {

        aside {
          display: none;
        }
        .adds .add-left, .adds .add-right {
          display: none;
        }

        header.header nav ul li:before {
          padding-left: 10px;
        }
        header.header nav ul li:after {
          padding-right: 10px;
        }
        .overlay-edition .left {
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 50%;
            width: 100%;
            float: left;
            background-color: rgba(255,255,255,.85);
        }
        .overlay-edition .right {
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 50%;
            width: 100%;
            float: left;
            background-color: rgba(255,255,255,.95);
        }
        #eltemps .previsio {
            padding-right: 0px;
        }

        /*////////////////////////////////
        cookie-banner
        ///////////////////////////////*/

        a.close-cookie-banner {
          top: 10px;
          bottom: inherit;
        }
        #cookie-law {
            position: fixed;
            bottom: 20px !important;
            left: 20px !important;
            right: 20px !important;
            text-align: center;
            z-index: 9999;
          }
       
      }


      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {

        .overlay-edition .left {
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 50%;
            width: 100%;
            float: left;
            background-color: rgba(255,255,255,.85);
        }
        .overlay-edition .right {
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 50%;
            width: 100%;
            float: left;
            background-color: rgba(255,255,255,.95);
        }
        .overlay-edition .center {
            width: 140px;
            height: 140px;
        }
        .overlay-edition .center h1 {
            font-size: 13px;
            line-height: 18px;
        }
        .overlay-edition .cc img {
            width: 135px;
            height: auto;
        }
        .overlay-edition .cc span {
            margin-top: 5px;
        }

        ul.info-article {
            position: relative;
            bottom: 0px;
            padding-bottom: 10px;
            border-bottom: 1px solid @color-line;
            right: 0px;
            left: 0px;
            margin-top: 15px;
        }

        /* body.home removedClass */ 

       /* .topbar-wrapp .data {
            margin: inherit;
            font-family: 'Merriweather', serif;
            font-size: 11px;
            width: 175px;
            text-align: left;
        }
        */

        .topbar-wrapp .data:before {
            content: "";
            padding-left: 0px;
            border-left: none;
        }
        .topbar-wrapp .data:after {
            content: "";
            padding-right: 0px;
            border-right: none;
        }
        .topbar-wrapp a.log-in {
          position: absolute;         
          font-size: 18px;
          padding-right: 10px;  
          right: 15px;           
        }
        aside {
          display: none;
        }
        .adds .add-left, .adds .add-right {
          display: none;
        }
        header.header nav {
          display: none;
        }
        .header-wrapp {
            position: relative;
            height: 80px !important;
        }
        header.header {
          height: 80px !important;
          border-bottom: 1px solid @color-line;
        }        
        header.header .navbar-brand {
          padding-top: 28px !important;
        }
        header.header .navbar-brand {
          width: 150px !important;
        }
        header.header .hamburger {
            top: 31px !important;
        }
        header.header .search-btn {
            top: 27px !important;
        }     
        .barra-superior .breadcrumb {
          text-align: left;
          width: 100%;
          display: block;
          clear: both;
        }
        .barra-superior ul.compartir {
          border-top: 1px solid #dddddd;
          list-style: none;
          float: none;
          margin: auto;
          display: block;
          clear: both;
          text-align: center;
        } 
        .barra-superior .share, .fitxa-content .share {
          position: absolute;
          right: 15px;
        }
        .noticia {
          margin-bottom: 20px !important; // 40
          display: block;       
          height: auto;
        }
        .overlay.pc .overlayInner {
          width: 100%;
        }
        .PC-button {
          min-height: 135px;
        }
        .overlay.pc .overlayInner .hamburger2 {
          right: 15px;
          top: 15px;
        }
        #eltemps .previsio {
          text-align: center;
        }
        #eltemps .previsio .icona {
          margin-top: 30px;
        }


        /*///////////////////////////////////
        cookie-law
        //////////////////////////////////*/
        #cookie-law {
          bottom: 0px !important;
        }
        #cookie-law>div {
            background: #333;
            opacity: 1;
            width: 100%!important;
            padding: 20px;
            max-width: 1170px;
            margin: auto;
            display: inline-block;
            text-align: left!important;
            position: relative;
            padding-bottom: 70px !important;
        }
        a.close-cookie-banner {
            position: absolute;
            bottom: 20px !important;
            right: inherit !important;
            left: inherit !important;
            margin: auto !important;
            display: block;
            width: 95px !important;
            height: 25px;
          }
          .barra-superior {
            margin-bottom: 20px;
            border-top: none;
          }
          .barra-superior .breadcrumb {
            font-size: 13px;
          }
          .barra-superior .breadcrumb a {
            font-size: 13px;
          }
          .hemeroteca .hemeroteca-item img {
            height: auto;
            max-width: 100%;
          }
          .grid-item { 
            width: 100%; 
          }
          .anunci {
            margin-bottom: 40px !important;
            text-align: center;
            margin-top: 20px !important;
          }
          .banner.inside-home {
            margin-bottom: 30px;
            margin-top: 10px;
            padding: 0px;
            padding-bottom: 10px;
            padding-top: 10px;            
            border-top: 2px solid #c4003e;
            border-bottom: 2px solid #c4003e;
          }          
          .banner figcaption {
            display: none;
          }
          .banner.inside-home img {
            margin-bottom: 0px;
          }


      }
