      body.in {
        overflow: hidden;
    }
/////////////////////////////////////////////////
      // HEADER OVERLAY GENERAL
      ////////////////////////////////////////////////

      .overlay {
        background: rgba(0, 0, 0, 1);
        position: fixed;
        z-index: 991;
        top: 0;
        bottom: 0px;
        right: 0px;
        left: 0px;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease-in-out;

        h3 {
          font-size: 12px;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          margin-bottom: 30px;
        }

        hr.linia {
          border-color: #696969; 
          margin-top: 32px;
        }

        .list-options {
          min-height: 225px;

          h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #FFF;
            list-style: none;
            font-weight: 800;
            margin-bottom: 10px;
            margin-top: 0px;

            a {
              color: #FFF;
              display: block;
            }
          }
          .digues-la-teva {
            cursor: pointer;
          }
        }

        .hamburger {
          padding: 0px;
          margin-top: 75px;
          margin-bottom: 30px;
        }
        .hamburger-box {
          width: 25px;
          height: 20px;       
        }        
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          background-color: #FFF;
          width: 25px;
          height: 2px;
        }
        .hamburger--squeeze.is-active .hamburger-inner {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition-delay: 0.14s;
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
        }
        .hamburger--squeeze.is-active .hamburger-inner::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
        }
        .hamburger--squeeze.is-active .hamburger-inner::after {
          bottom: 0;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
        }
        .navbar-brand {
          width: 290px;          
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 50px;
        }
        .search-btn {
          position: absolute;
          right: 10px;
          top: 75px;
          font-size: 24px;
          color: #FFF;
          cursor: pointer;
        }
        hr {
          margin-bottom: 30px;
          border-color: #696969 !important;
        }
        ul.menu {
          font-family: 'Open Sans', sans-serif;;
          color: #FFF;
          list-style: none;   
          margin-bottom: 40px;       

          li {
            font-size: 13px;

            a {
              font-size: 14px;
              line-height: 24px;
              color: #FFF;
              text-decoration: none;
            }
          }
          li:first-child {
           /*font-weight: 800;
            margin-bottom: 10px;*/
          }
        }

        ul.menu-large {
          font-family: 'Open Sans', sans-serif;;
          color: #FFF;
          list-style: none;   
          margin-bottom: 40px;           

          li:first-child {
            display: none;
          }

          li {
            font-size: 20px;           
            line-height: 26px;

            a {
              font-size: 18px;
              line-height: 30px;
              color: #FFF;
              text-decoration: none;
              font-weight: 800;
            }
          }
        }

        .this-options {

          .brand {
            width: 100px; 
            display: block; 

            img {
            /*  width: 125px;*/
              max-width:  100%;
              height: auto;
            }          
          }
          .brand.tv {
            width: 130px; 
            display: block;                
          }
          .brand.fm {
            width: 130px; 
            display: block;                
          }
          .brand.blogosfera {            
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 22px;
            line-height: 28px;
            color: #FFF;
            padding: 0;
            border-bottom: 3px solid #FFF;
            width: 145px;
          }

          .brand.magazin {
            width: 130px; 
            display: block; 
          }

        }

        .el-temps {
          background: #e2e2e2;
          padding: 25px;
          border-radius: 0px;
          margin-top: 30px;

          a {
            color: #000;
          }

          h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #000;
            margin-bottom: 10px;
            font-size: 13px;
            text-align: left;

            i {
              margin-left: 20px; 
              cursor: pointer;
            }
            i.fa-check {
              margin-left: 10px; 
            }

            span {
              color: #000;
              font-weight: 400;
              cursor: pointer;
            }
          }
          .temps {
              margin-bottom: 0px;
              margin-top: 0px;
              padding: 0;
          }
          .imatge {
            color: #000;
            margin-top: 0px;
            margin-bottom: 15px;
            font-size: 50px;
          }
          .dia {
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 12px;
            line-height: 14px;
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
          }
          .min-max {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: #000;
            font-size: 14px;
            line-height: 18px;
            display: block;
          }
          .temperatura {
            font-family: 'Open Sans', sans-serif;           
            font-weight: 700;
            text-align: center;
            font-size: 13px;
            color: #000;
          } 
          .temperatura:after {
            content: "";
            margin: 0;
            font-size: 11px;
            vertical-align: bottom;
          } 
          .temperatura-max, .temperatura-min {
            font-family: 'Open Sans', sans-serif;
            line-height: 16px;
            font-size: 11px;
            text-align: center;
            display: block;
            // margin-bottom: 45px;
            color: #000;
          }
        }
       
        .grup-corporatiu {
          background: #111;
          padding: 25px;
          border-radius: 0px;
          margin-top: 30px;
          margin-bottom: 20px;

          a {
            color: #FFF;
          }

          h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #FFF;
            margin-bottom: 10px;
            font-size: 13px;
            text-align: left;
            margin-top: 0px;

            i {
              margin-left: 20px; 
              cursor: pointer;
            }

            span {
              color: #FFF;
              font-weight: 400;
              cursor: pointer;
            }
          }
          .logo-9fm, .logo-9tv, .logo-9clics, .logo-ctl, .nou-cat {
            span {
              font-family: 'Open Sans', sans-serif;
              font-size: 11px;
              line-height: 16px;
              text-align: center;
              color: #FFF;
              display: block;
              margin-bottom: 30px;

              a {
                color: #FFF;
              }

              a:hover {
                color: #FFF;
              }
            }
          }

          .logo-club {
             img {
              max-width: 60px;
              display: block;
              text-align: center;
              margin: auto;   
              margin-bottom: 5px;  
            }
          }

          .nou-cat {
            img {
              max-width: 110px;
              display: block;
              text-align: center;
              margin: auto;   
              margin-bottom: 5px;         
            }
          }

          .logo-9fm {
            img {
              max-width: 55px;
              display: block;
              text-align: center;
              margin: auto;   
              margin-bottom: 5px;         
            }
            span {
              margin-bottom: 30px;
            }
          }
          .logo-9tv {
            img {
              max-width: 55px;
              display: block;
              text-align: center;
              margin: auto;
              margin-bottom: 5px;  
            }         
          }
          .logo-9clics {
            img {
              max-width: 75px;
              display: block;
              text-align: center;
              margin: auto;
              margin-bottom: 5px;                
            }         
            span {
              margin-bottom: 0px;
            }
          }
          .logo-ctl {
            img {
              max-width: 35px;
              display: block;
              text-align: center;
              margin: auto;
              margin-bottom: 5px;  
            }        
            span {
              margin-bottom: 0px;
            }
          }
        }

        .social {
          background: #111111;
          padding: 25px;
          border-radius: 0px;
          margin-top: 20px;
         
          h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #FFF;
            margin-bottom: 10px;
            font-size: 13px;
            text-align: left;

            i {
              margin-left: 20px; 
              cursor: pointer;
            }

            span {
              color: #FFF;
              font-weight: 400;
              cursor: pointer;
            }
          }

          .xarxes {
            margin-bottom: 20px;
          }

          ul.compartir {
              list-style: none;   
              text-align: left;       
          }
          ul.compartir li {
              display: inline-block;
              font-size: 13px;
              color: #808080;
              font-weight: 400;
          }
          ul.compartir li a {
              font-size: 16px;
              color: #FFF;
              font-weight: 400;
          }
          ul.compartir li:before {
          /*  content: "";
            height: 5px;
            border-left: 1px solid #FFF;
            padding-left: 20px; */
          }          
          ul.compartir li:after {
            content: ""; 
            padding-right: 20px; 
          }
          ul.compartir li:last-child:after {
          /*  border-right: 1px solid #FFF;*/
          }


        }
      }
      .overlay.in {
        background: rgba(31, 31, 31, 1);
        opacity: 1;
        transform: translateY(0%);
        pointer-events: auto;
        overflow-y: scroll;
      }  


      /////////////////////////////////////////////////
      // SEARCH OVERLAY
      ////////////////////////////////////////////////

        .overlay-search {
          background: rgba(255, 255, 255, 0.98);
          position: fixed;
          z-index: 999;
          top: 0;
          bottom: 0px;
          right: 0px;
          left: 0px;
          //transform: translateY(100%);
          opacity: 0;
          transition: all .5s ease-in-out;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          overflow-y: scroll;
          pointer-events: none;

          .icon-lupa {
            font-size: 40px;
            margin-top: 35px;
            display: block;
            margin-left: 0px;
            color: #667;
          }

          .container {
            padding-top: 120px;
          }          
          .hamburger {
              padding: 0;
              margin-top: 0px;
              margin-bottom: 0px;
              position: absolute;
              top: 25px;
              right: 30px;
            }
            .hamburger-box {
              width: 25px;
              height: 30px;  
            }        
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color: #333;
              width: 25px;
              height: 2px;  
            }
            .hamburger--squeeze.is-active .hamburger-inner {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              transition-delay: 0.14s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
            .hamburger--squeeze.is-active .hamburger-inner::before {
              top: 0;
              opacity: 0;
              transition: top 0.1s ease, opacity 0.1s 0.14s ease; 
            }
            .hamburger--squeeze.is-active .hamburger-inner::after {
              bottom: 0;
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
              transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
              transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }

            hr {
              border-color:  #ddd !important;
            }
         

               input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
                  /* WebKit browsers */
                  color: #666 !important;
                }
                input:-moz-placeholder, textarea:-moz-placeholder {
                  /* Mozilla Firefox 4 to 18 */
                  color: #666 !important;
                }
                input::-moz-placeholder, textarea::-moz-placeholder {
                  /* Mozilla Firefox 19+ */
                  color: #666 !important;
                }
                input:-ms-input-placeholder, textarea:-ms-input-placeholder {
                  /* Internet Explorer 10+ */
                  color: #666 !important;
                }
              
              input {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                background: transparent;
                border: none;
                width: 100%;
                text-align: left;
                font-size: 70px;
                color: #666;
              }
              .search-left {
                margin-bottom: 40px;
              }
              h1 {
                font-size: 24px;
                font-weight: 800;
                margin-bottom: 20px;
                margin-top: 20px;
              }
              .recent-news {
                position: relative;
                overflow: hidden;
                margin-bottom: 30px;
                padding-bottom: 0px;
                background: #f2f2f2;

                ul.info-article {
                  right: 0px;
                  left: 0px;
                }

                .thumb {
                  float: left;
                  width: 25%;
                  height: auto;
                  margin-right: 4%;
                }
                .content {
                  float: left;
                  width: 71%;
                  margin-top: 15px;
                  margin-bottom: 15px;
                  padding-right: 10px;

                  a {
                    color: #000;
                  }

                  header {
                    h1 {
                        margin: 0px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                    }
                  }                  
                }
              }                   
        }

        .overlay-search.in {
         // transform: translateY(0%);
          opacity: 1;
          pointer-events: auto;
        }

      
      /* //////////////////////////////////////////////
      MEDIA QUERIES
      ////////////////////////////////////////////// */

      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {
        
         ///////////// GENERAL OVERLAY //////////////
        .overlay .el-temps h2 {
          border-top: 1px solid #FFF;
          padding-top: 30px;
        }
        .overlay .el-temps .temps {
          margin-bottom: 40px;
        }
        .overlay .logo {
          margin-bottom: 40px;
        }
       
        ///////////// SEARCH OVERLAY //////////////         
         .overlay-search input {
            font-size: 50px;
         }
         .overlay-search .icon-lupa {
              font-size: 40px;
              margin-top: 15px;
              display: block;
              margin-left: 30px;
              color: #667;
          }

          .overlay .social {
          margin-bottom: 30px;
         }


      }

      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {
        
        ///////////// GENERAL OVERLAY //////////////
        .overlay .navbar-brand {
            width: 185px;
            margin-top: 22px;
        }
        .overlay .hamburger {
            padding: 0px;
            margin-top: 40px;
            margin-bottom: 0px;
        }
        .overlay .search-btn {
            top: 37px;
        }
        .overlay ul.menu {
          text-align: center;
        }
        .overlay .list-options h2 {
          text-align: center;
          margin: 0 !important;
          border-bottom: 1px solid #696969;            
          padding-bottom: 10px;
          padding-top: 10px;
          background-color: #111;
          // #111;
        }
      //  .page-template-template-home {
            .overlay .list-options h2 {
              text-align: center;
              margin: 0 !important;
              border-bottom: 1px solid #696969;            
              padding-bottom: 20px; // 10
              padding-top: 20px; // 10
              background-color: transparent;
            }
       // }
        .overlay .list-options h2 a {
          display: block;
        }
        .overlay .list-options h2 a:hover, .overlay .list-options h2 a:focus {
          text-decoration: none;
        }
        .overlay ul.menu {
          display: none;
        }
         .overlay ul.menu.in {
          display: block;
         }

        /* overlay menu mobile */
        #navegation-site .overlayInner {
            position: absolute;
            width: 250px;
            padding: 0px;
            vertical-align: middle;
            text-align: center;

            .hamburger {
                padding: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
            }

            ul {
              margin-top: 50px;
              width: 250px;
              list-style: none;
              margin: auto;

              li {
                  color: #FFF;
                  text-transform: uppercase;
                  line-height: 55px;

                  a { 
                      font-family: 'Open Sans', sans-serif;
                      font-weight:700;
                      color: #FFF;
                      text-transform: uppercase;
                      display: block;
                      transition: all 0.3s ease-in-out;

                      &:after {
                          content: "";
                          font-size: 10px;
                          clear: both;
                          display: block;
                          letter-spacing: -1px;
                          color: #FFF;
                          border-bottom: 1px solid;
                          line-height: 29px;
                          height: 15px;
                          width: 20px;
                          margin: auto;
                          margin-bottom: 10px;
                      }
                  }
              }
              li:last-child a:after {
                border: none;
                content: "";
                margin: 0;
                padding: 0;
              }

            }
        }
        .overlay hr {
            margin-top: 15px;
            margin-bottom: 0px;
            border-color: #696969 !important;
        }
        .overlay .el-temps {
          display: none;
        }
        .overlay .el-temps .dia {
            margin-top: 15px;
        }
        .overlay .el-temps h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #FFF;            
            font-size: 13px;
            text-align: left;
            border-top: 1px solid #FFF;
            padding-top: 30px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 40px;
        }
        .overlay .logo-9fm {
          margin-top: 0px;   
          margin-bottom: 15px;     
        }
        .overlay .logo-9clics {
          margin-bottom: 30px;
        }
        .overlay .logo-ctl {
          margin-bottom: 20px;
        }
        .overlay ul.compartir {
          text-align: center;
        }
        .overlay ul.menu {
            margin-bottom: 0px;
            margin-top: -10px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e2e2e2;
        }
        .overlay ul.menu li a {
            font-weight: 300;
            font-size: 13px;
            line-height: 24px;
            color: #FFF;
            text-decoration: none;
            text-transform: uppercase;
        }
        .overlay ul.menu li {
          font-size: 13px;
          line-height: 30px;       
        }
        .overlay ul.menu li:after {
         /* content: "";
          font-size: 10px;
          clear: both;
          display: block;
          letter-spacing: -1px;
          color: #FFF;
          border-bottom: 1px solid;
          line-height: 29px;
          height: 5px;
          width: 20px;
          margin: auto;
          margin-bottom: 10px;
          margin-top: 10px; */
        }
        .overlay ul.menu li:last-child:after {
         /* content: '';
          width: 0; */
         }

         ///////////// SEARCH OVERLAY //////////////         
         .overlay-search input {
            font-size: 30px;
         }
         .overlay-search .icon-lupa {
            font-size: 25px;
            margin-top: 10px;
          }
          .overlay-search h1 {
            font-size: 20px;
          }

          ul.menu-phone {
            margin: 0;
            padding: 0;
            list-style: none;
            position: fixed;
            top: 50%;
            left: 15px;
            right: 15px;
            transform: translateY(-50%);

            li a {
              font-family: 'Open Sans', sans-serif;
              font-weight: 700;
              font-size: 13px;
              display: block;
              height: 40px;
              line-height: 40px;
              border-bottom: 1px solid #FFF;
              text-align: center;
              color: #FFF;
            }
          }
          ul.menu-phone li:first-child a {
            border-top: 1px solid #FFF;
          }
          .mobile-bottom {
              margin-bottom: 30px !important;
              text-align: center;
          }            
          .overlay .social {
               margin-bottom: 30px;
          }              
          .overlay .social .xarxes {
              margin-bottom: 10px !important;
              text-align: center;
          }
          .overlay .social ul.compartir {
              text-align: center;
          }
          .overlay .list-options {
            min-height: auto;
          }
          .overlay ul.menu-large li {
            text-align: center;
            border-bottom: 1px solid #696969;
            font-size: 16px;
            line-height: inherit;
            /* min-height: 35px; */
            padding-top: 7px;
            padding-bottom: 7px;
           // line-height: 40px;
          }
          .overlay ul.menu-large li:first-child {
            display: block;
            font-size: 13px;
            color: #FFF;
            list-style: none;
            font-weight: 800;
            line-height: 40px;
            text-decoration: none;   
          }          
          .overlay ul.menu-large li a {
            font-size: 13px;
            color: #FFF;
            list-style: none;
            font-weight: 400;
            line-height: 16px;
            text-decoration: none; 
            text-transform: uppercase;     
            padding-top: 12px;
            padding-bottom: 12px;     
            display: block; 
          }
          .no-pad {
            padding-left: 0px;
            padding-right: 0px;
          }
          .overlay ul.menu-large {
            margin-bottom: 0px;
          }
          .overlay .list-options {
          //  background-color: #111111;
          }
          h2.title {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #FFF;
            font-weight: 800;
            line-height: 35px;
            text-align: center;
            border-bottom: 1px solid #696969;
            background: #111111;
            cursor: pointer;
            margin: 0;
          }
          h2.title:after {
            content: "\f107 ";
            font-family: FontAwesome;
            position: absolute;
            right: 25px;
            font-size: 22px;
            font-size: 18px;
            font-weight: 400;
          }
          .overlay .grup-corporatiu h2 {
            text-align: center;
            margin: 0px;
            //line-height: 55px; // 35
            border-bottom: 1px solid #696969;
            cursor: pointer;
            font-weight: 500;
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
           }
           .overlay .grup-corporatiu h2:after {
           // content: "+";
            content: "\f107 ";
            font-family: FontAwesome;
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 22px;
            font-weight: 400;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
           }
           .overlay .grup-corporatiu h2.minus2:after {
              content: "\f107 ";
              -ms-transform: rotate(180deg); /* IE 9 */
              -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
              transform: rotate(180deg);
              right: 10px;             
           }
          .toggle {
            display: none;
          }
          .overlay .grup-corporatiu {
            margin-top: 0px;
            margin-bottom: 1px;
            padding: 0;
            background-color: #111111;
          }          
           .overlay .logos-corporative {
            //display: none;
           }
           .mobile-bottom {
            display: none;
           }
           .logos-corporative {
            padding-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 30px;
           }
           .overlay .social {
            margin-top: 0px;
            padding: 10px;
           }
           .overlay .social ul.compartir li:last-child:after {
            padding-right: 0px;
           }
           .overlay .list-options h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #FFF;
            list-style: none;
            font-weight: 400;
            // text-transform: lowercase;
          }
         .overlay .list-options h2::first-letter {
            // text-transform: uppercase;
         }

         .overlay .list-options h2:after {
            content: "+";
            position: absolute;
            right: 25px;
            top: 15px; // 5
            font-size: 22px;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;  
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
            transform: rotate(90deg);
         }         
         .overlay .list-options h2.minus:after {
            content: "-";
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
            right: 28px;
            line-height: 20px;
         }
         .overlay .list-options h2.no-plus:after {
           content: "";
         }
         .overlay .list-options h2.no-plus a {
           text-transform: uppercase;
         }
         .overlay .grup-corporatiu .logo-9fm span {
            margin-bottom: 15px;
        }
        .overlay ul.menu {
            height: 0px;
            display: block;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-bottom: 0px solid #e2e2e2;
            overflow: hidden;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;            
        }
        .overlay ul.menu.down {
            margin-bottom: 0px;
            margin-top: -10px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e2e2e2;
            height: 180px;
        }
        .overlay ul.menu.down.temps {
            height: 100px;
        }

      }