

main.entrar, main.registre {
	margin-top: 60px;
    min-height: 400px;

	input[type='text'], input[type='password'] {
	    font-family: @font-serif;
	    font-weight: @light;
	    font-size: 13px;
	    font-style: italic;
	    width: 100%;
	    height: 40px;
	    background-color: transparent;
	    border: none;
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    margin-bottom: 20px;
	}
	input[type="radio"] {
		margin-right: 10px;
		-webkit-appearance: radio;
		cursor: pointer;
	}
	label {
		line-height: 45px;
	}

	#registre form {
		margin-top: 20px;
		/*margin-bottom: 150px;*/
	}
	#registre form button {
	    width: 100%;
	    height: 40px;
	    border: none;
	    background-color: #000;
	    color: #fff;
	}
	#registre h2 {
		font-family: @font-sans;
	    font-size: 30px;
	    line-height: 32px;
	    color: #000000;
	    font-weight: @extrabold;
	    text-align: center;
	}
	#registre p {
		font-family: @font-sans;
		font-size: 13px;
    	text-align: center;
		margin-top: 20px;
		margin-bottom: 25px;

		a {
			color: #000;
			text-decoration: underline;
		}
	}
	.remember {
		font-family: @font-sans;
	    text-align: right;
		margin-top: -5px;
	    margin-bottom: 15px;
	    font-size: 12px;
	    color: #222;

		a {
			color: #000;
			text-decoration: underline;
		}
	}
	button[type='submit'] {
		font-family: @font-sans;
		font-weight: @semibold;
    	font-size: 14px;
    	margin-bottom: 15px;
	}
	span {
		font-family: @font-sans;
		font-size: 15px;
	    line-height: 20px;
	    text-align: center;
	    width: 100%;
	    display: block;
	    margin-bottom: 50px;
	    margin-top: 15px;

	    a {
	    	color: #000;
	    	font-weight: @bold;
	    }
	}
	.accedir {
		font-family: 'Open Sans', sans-serif;
	    font-size: 15px;
	    line-height: 20px;
	    text-align: center;
	    width: 100%;
	    display: block;
	    margin-bottom: 50px;
	    margin-top: 15px;

	    a {
	    	color: #000;
	    	font-weight: @bold;
	    }
	}
}

main.registre {
	margin-bottom: 60px;
}

/* //////// CONTACTE ///////////*/

main.textos-legals {
	input {
	    font-family: @font-serif;
	    font-weight: @light;
	    font-size: 13px;
	    font-style: italic;
	    width: 100%;
	    height: 40px;
	    background-color: transparent;
	    border: none;
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    margin-bottom: 0px;
	}
	textarea {
	    font-family: @font-serif;
	    font-weight: @light;
	    font-size: 13px;
	    font-style: italic;
	    width: 100%;
	    height: 200px;
	    background-color: transparent;
	    border: none;
	    border: 1px solid #e2e2e2;
	    padding: 10px;
	    margin-bottom: 0px;
	}	
	input[type='button'] {
		font-family: @font-sans;
		font-weight: @semibold;
    	font-size: 14px;
    	margin-bottom: 15px;
    	width: 150px;
	    height: 40px;
	    border: none;
	    background-color: #000;
	    color: #fff;
	    font-style: normal;
	}
	.nf-form-fields-required  {
		margin-bottom: 10px;
	    color: #333;
	    font-size: 12px;
	    position: absolute;
	    bottom: 50px;
	    right: 15px;
	}
	.nf-after-field .nf-error-msg, .nf-error-msg {
		font-size: 12px;
	}
	.nf-response-msg {

		h2 {
			font-family: 'Open Sans',sans-serif;
    		font-size: 30px;
		    line-height: 32px;
		    color: #000;
		    font-weight: 800;
		    text-align: left;
		}
		p {
			margin: 0;
		}

	}

}

/*--------------- PHONE --------------------------*/
@media(max-width:767px) {

	main.entrar span, main.registre span {
	    font-family: 'Open Sans', sans-serif;
	    font-size: 15px;
	    line-height: 20px;
	    text-align: center;
	    width: 100%;
	    display: block;
	    margin-bottom: 50px;
	    margin-top: 15px;
	    background: #f2f2f2;
	    padding: 30px;
	    border: 1px solid #e2e2e2;
	}

}