footer h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFF;
}
footer section.sitemap {
  background-color: #e9e9ea;
  padding-top: 50px;
  padding-bottom: 70px;
}
footer section.sitemap ul.footer-list {
  list-style: none;
  margin-bottom: 20px;
}
footer section.sitemap ul.footer-list li {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  line-height: 22px;
}
footer section.sitemap ul.footer-list li a {
  color: #000;
}
footer section.sitemap ul.footer-list li a:hover {
  color: #c4003e;
}
footer section.sitemap ul.footer-list li:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer section.ads {
  background-color: #595959;
  padding-top: 50px;
  padding-bottom: 70px;
  display: none;
}
footer section.ads .newsletter-cont {
  margin-bottom: 50px;
}
footer section.ads .newsletter-cont input {
  font-size: 12px;
  font-style: italic;
  color: #000000;
  width: 270px;
  background-color: #dddddd;
  border: none;
  height: 40px;
  padding-left: 10px;
  margin-right: -5px;
}
footer section.ads .newsletter-cont .btn-newsletter {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 120px;
  background-color: #c4003e;
  height: 40px;
  color: #FFF;
  text-align: center;
  border: none;
}
footer section.ads .social-cont ul.footer-socials {
  list-style: none;
}
footer section.ads .social-cont ul.footer-socials li {
  display: inline-block;
  margin-right: 0px;
}
footer section.ads .social-cont ul.footer-socials li a {
  color: #FFF;
  font-size: 28px;
}
footer section.ads .social-cont ul.footer-socials li a i:before {
  margin: 0px;
}
footer section.group {
  background-color: #b2b2b2;
  padding-top: 50px;
  padding-bottom: 70px;
}
footer section.group .element {
  margin-bottom: 30px;
}
footer section.group h1 {
  color: #000000;
}
footer section.group .gencat {
  width: 150px;
}
footer section.group ul.logos-corp {
  list-style: none;
}
footer section.group ul.logos-corp li {
  display: inline-block;
  margin-right: 30px;
}
footer section.group ul.logos-corp li img {
  max-width: 100%;
  height: auto;
}
footer section.group ul.legal {
  list-style: none;
}
footer section.group ul.legal li a {
  color: #000000;
  font-size: 12px;
  line-height: 22px;
}
footer .socket {
  font-family: 'Open Sans', sans-serif;
  background-color: #c4003e;
  height: 80px;
  color: #FFF;
  font-size: 13px;
  line-height: 80px;
}