/*
main.home section.articles-petits .item, main.fitxa article .content section.related-articles .item {
	min-height: 320px;
}
*/

/* FLEX CUSTOM */
.alsada {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.noticia {
    height: auto;
	display: inherit;
    vertical-align: inherit;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.alsada {
	    height: 100%;
	    display: table-row;
	}
	.noticia {
	    height: 100%;
		display: table-cell;
    	vertical-align: top;
	}

}

/* FLEX CUSTOM */

.overlay {
	z-index: 9999;
}
img {
	/*display: block;
	max-width: 100%;*/
}
figure img {
	width: 100%;
}
.barra-superior .breadcrumb a {
	color: #c4003e;
}
#commentform label {
	display: none;
}
main.fitxa article .content section.comments .comment-form .send {
	margin-bottom: 0;
	font-style: normal;
}
.temps {
		 margin-bottom: 30px;
	    margin-top: 15px;
}
	.imatge {
		color: #fff;
		font-size: 65px;
	}
	.temperatura, .ciutat {
		font-family: 'Open Sans', sans-serif;
		 display: inline-block;
		 color: #e2e2e2;
	}
	.temperatura:after {
		content: "|";
		margin-right: 2px;
    	margin-left: 7px;
    	font-size: 11px;
    	vertical-align: bottom;
	}

	.PC-button.active {
		background: #7d0028
	}

	#form_periodisme_ciutada button {
		position: relative;
	}
	#form_periodisme_ciutada i {
		position: absolute;
		right: 10px;
		font-size: 20px;
	}
	.temps .dia {
		margin-bottom: 10px;
	}
	.location-field {
		padding: 5px;
    	font-weight: 400;
		color: #333333;
	}
	.temps .temperatura-min, .temps .temperatura-max {
		color: #fff;
		font-size: 12px;
	}

.dia-previst-0, .dia-previst-7, .dia-previst-8, .dia-previst-9 {
	display: none;
}
[v-cloak] {
  display: none;
}
#loading-eltemps {
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	z-index: 999
}
.error-form {
	margin-top: 10px;
}
.missatge-registrat {
	text-align: center;
}
section.videos-destacats .autor a {
	font-size: 13px;
	font-weight: 300;
}
section.videos-destacats .detall, section.programacio .detall, section.a-la-carta .detall, section.llistat-videos .detall, .videos-relacionats .detall {
	font-family: 'Open Sans',sans-serif;
	font-weight: 400;
    font-size: 13px;
    display: block;
    margin-top: 10px;
}
.video .autor {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
section.videos-destacats .video, section.programacio .video, section.a-la-carta .video, section.llistat-videos .video, .videos-relacionats .video {
	min-height: 355px;
}
.anuncis-portada img {
	display:block;
}
.anunci {
	margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    display: block;
    background-color: #f2f2f2;
}
.anunci-entrenoticies .anunci {
	padding: 35px 0;
	margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
    display: block;
    background-color: #f2f2f2;
}
.top-banner .anunci {
	min-height: 90px;
	padding-top: 20px;
	margin: auto;
	text-align: center;
	background-color: #e2e2e2;
	padding-bottom: 20px;
	margin-top: 0 !important;
   	margin-bottom: 0 !important;
}

#eltemps .name-city {
	font-size: 30px;
	line-height: 32px;
}

.most-viewed-news.blogosfera {
	max-height: 300px;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd;
}
.most-viewed-news.blogosfera .news-items {
	max-height: 250px;
}

.most-viewed-news.blogosfera .icon {
	font-size: 15px;
	margin-left: 0;
}

.most-viewed-news.blogosfera h1 {
    font-family: 'Open Sans', sans-serif;
    background: #e2e2e2;
    font-weight: 700;
    text-decoration: underline;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    padding: 10px;
    position: relative;
    z-index: 9999999;
}

.carousel-control .fa {
	bottom: 10px;
	position: absolute;
}

figcaption.fm {
	overflow: hidden;
	background: #e2e2e2;
    padding: 10px;
    font-size: 12px;
}

.banner.el9fm figcaption {
	position: relative;
	bottom: 0;
}
.banner.el9fm {
	margin-bottom: 0;
}
.bloc-9fm {
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.bloc-9fm img.logo {
	max-width: 150px;
	padding: 15px;
}

#eltemps .cerca-ciutat button {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 15px;
    border: none;
    color: #fff;
    background: #000;
    margin-top: 15px;
    text-align: left;
}
.carousel-caption {
    padding: 30px;
    text-align: left;
    padding-bottom: 50px;
}
.carousel-caption h2 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}
.carousel-caption h4 {
    font-size: 13px;
    margin-bottom: 15px !important;
    display: block;
    margin-top: 5px !important;
}

.carousel-caption span.data {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;

}



main.home section.noticies-portada article p.sumari {
	display: none;
}

#interestitial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: none;
}
#interestitial button {
    position: absolute;
    top: -45px;
    right: 0;
    padding: 0;
}
.anunci-interestitial {
    position: absolute;
    top: 50%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
    transform: translateY(-50%);
}


/* SKYBANNER

.box-content {
	width: 1150px;
	margin:auto;
	z-index: 1;
	position: relative;
}
.top-banner-sky {
	background: #ffd300;
    text-align: center;
    margin-bottom: 10px;
}

.top-banner-sky .anunci {
	background: transparent;
}*/

#skinBanner .skin-banner {
	position:fixed !important;
	display:none;
}

.btn-club {
	background-color: #ad9560 !important;
	border: 1px solid #ad9560;
    font-family: 'Open Sans',serif;
    border: none;
	margin-right: 10px;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 15px;
	line-height: 30px;
}
.btn-club-access {
	background: #000 !important;
    border: 1px solid #e2e2e2;
    color: #FFF;
}

h4.premium {
	font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
	margin-top: 15px;
}
.premium-register {
   /* margin-bottom: 25px;
    padding-bottom: 25px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;	*/
}

.premium-access {
	margin-bottom: 25px;
    padding-bottom: 25px;
  /*  background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;*/
}
.premium-cancel {
	font-family: 'Open Sans',sans-serif;
    font-weight: 400;
	color:#000;
    font-size: 14px;
	border: none;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    display: block;
}

@media (max-width: 425px) {

	.premium-new {
		display: none;
	}

	#icon-premium {
		left: 15px !important;
		right: initial!important;
		width: 25px!important;
		height: 25px!important;
		line-height: 25px!important;
	}
}


@media screen and (max-width: 768px) {

	.alsada {
	    height: 100% !important;
	    display: table-row !important;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
	}
	.noticia {
		height: 100% !important;
    	display: table-cell;
	    vertical-align: top !important;
	}

	.topbar-wrapp .data {
		width: 100%;
	    text-align: left;
	}
	.topbar-wrapp a {
		font-size: 11px;
	}
	ul.user {
	    line-height: 39px;
	}
	
	.anunci-entrenoticies .anunci {
		background: none;
		margin: 0 !important;
		padding: 0;
	    margin-bottom: 30px !important;
	}
}

/* /////// HEMEROTECA /////// */

.hemeroteca .hemeroteca-item img {
	height: inherit;
}

.hemeroteca .item:nth-child(3n+1) {
    clear: both;
}

.club figcaption {
	font-size:12px;
}

/*
@media (min-width: 1520px) {
	.container {
		width: 1150px;
	}
	#skinBanner .skin-banner {
		/*background-image:url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCz1_-rowEQmBEYuAgoATIIkEPsdhk7ASI);*/
		/*background-position: center top;
		height:1080px;
		width:2200px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin:auto;
		z-index: 0;
	}
	#skinBanner header.header nav ul li:before {
		content: "";
		padding-left: 34px;
		border-left: 1px solid #ddd;
	}
	#skinBanner header.header nav ul li:after {
		content: "";
		padding-right: 34px;
	}
	#skinBanner header.header nav .sub-menu li:before {
		content: "";
		padding-left: 0;
		border-left: none;
	}
	#skinBanner header.header nav .sub-menu li:after {
		content: "";
		padding-right: 0;
	}
}


@media (min-width: 980px) and (max-width: 1519px) {

	.container {
		width: 970px;
	}
	#skinBanner .skin-banner {
		/*background-image:url(http://s3-eu-west-1.amazonaws.com/el9nou/images/2017/10/skin_supeco__small.jpg);*/
		/* background-position: center top;
		height:1080px;
		width:2020px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin:auto;
		z-index: 0;
	}
	.box-content {
		width:970px;
		z-index: 1;
	}
	#skinBanner header.header nav ul li:before {
		content: "";
		padding-left: 22px;
		border-left: 1px solid #ddd;
	}
	#skinBanner header.header nav ul li:after {
		content: "";
		padding-right: 22px;
	}
}



@media (min-width: 768px) and (max-width: 979px) {
	.container {
	    width: 750px;
	}
	#skinBanner .skin-banner {
		/*background-image:url(http://s3-eu-west-1.amazonaws.com/el9nou/images/2017/10/skin_supeco__small.jpg);*/
		/*background-position: center top;
		height:1080px;
		width:2020px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin:auto;
		z-index: 0;
	}
	.box-content {
		width:750px;
		z-index: 1;
	}

}

/*
@media screen and (max-width: 768px) {
    .anunci-interestitial {
        max-width: 600px;
    }

	#skinBanner .skin-banner {
		/*background-image:url(http://s3-eu-west-1.amazonaws.com/el9nou/images/2017/10/skin_supeco__small.jpg);
		//background-position: center top;
		height:1080px;
		width:2020px;
		position: absolute;
	/*	left: 50%;
		transform: translateX(-50%);
		margin:auto;
		z-index: 0;
		display:none;
	}
	.box-content {
		width:100%;
		z-index: 1;
	}
	/*header.header nav ul li:before {
		content: "";
		padding-left: 15px;
		border-left: 1px solid #ddd;
	}
	header.header nav ul li:after {
		content: "";
		padding-right: 15px;
	}

}
@media screen and (max-width: 639px) {
    .anunci-interestitial {
        max-width: 320px;
    }
}
.icon-nickname {
    color: #e2e2e2 !important;
    font-size: 60px !important;
}

#comments hr {
    margin-bottom: 40px
}
.comment-form {
    margin-bottom:  0 !important;
    padding:40px 0!important ;
}
.formulari header {
    overflow: hidden;
}
.btn-general {
    font-family: 'Open Sans',sans-serif;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 40px;
    margin: 10px 0;
}
*/

#opinio section.articles-petits h3 {
    background: #f2f2f2;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
}
#opinio section.articles-petits h3 .fa {
    color: #c4003e;
    position: absolute;
    right: 15px;
    font-size: 18px;
    top: 10px;
}
#opinio section.articles-petits h3 .fa span {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 11px;
    color: #000;
    left: -60px;
    top: 3px;
}
#opinio .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    padding: 30px;
}
#opinio .flex-element {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    border-right: 1px solid #d64c78;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#opinio .flex-element:last-child {
    border:none;
}
#opinio .flex-item {
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
}
#opinio .articles-petits {
    background-color: #c4003e;
}
#opinio figure {
    height: 80px;
    width: 80px;
   /* border-radius: 50%;*/
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
#opinio h5 {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 13px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 200;
    margin-top: 20px;
}
#opinio h5:after {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    bottom: -10px;
    left: 0px;
}
#opinio h4 {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

#opinio a {
    color: #fff;
}

  /*--------------- PHONE --------------------------*/
  @media(max-width:767px) {

    #opinio .flex-row {
        display: block;
        padding: 15px;
		padding-bottom: 5px;
	    padding-top: 10px;
    }
    #opinio .flex-element {
        margin-bottom: 30px;
        padding: 15px;
    }
	#opinio .flex-element {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	#opinio figure {
		margin-right: 20px;
		
	}
	#opinio .flex-element {
		margin-bottom: 10px;
		padding: 15px;
		border-bottom: 1px solid #d64c78;
		padding-bottom: 20px;
	}
	#opinio section.articles-petits.opinio h3 {
		padding-bottom:0px;
	}
	#opinio h5 {
		margin-top:5px;
	}
	
    /*#opinio .flex-element:nth-child(2n+1) {
        clear: both;
    }
    #opinio .flex-element:nth-child(2n) {
        border: none;
    }*/

}

@media(max-width:450px) {
	.user-menu {
		text-align: center;
	}

}