@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
/* ==========================================================================
  Footer LESS-CSS
  ========================================================================== */
/* == Typography Variables & Colors Variables == */
/* ================================*/
footer h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFF;
}
footer section.sitemap {
  background-color: #e9e9ea;
  padding-top: 50px;
  padding-bottom: 70px;
}
footer section.sitemap ul.footer-list {
  list-style: none;
  margin-bottom: 20px;
}
footer section.sitemap ul.footer-list li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 22px;
}
footer section.sitemap ul.footer-list li a {
  color: #000;
}
footer section.sitemap ul.footer-list li a:hover {
  color: #c4003e;
}
footer section.sitemap ul.footer-list li:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer section.ads {
  background-color: #595959;
  padding-top: 50px;
  padding-bottom: 70px;
  display: none;
}
footer section.ads .newsletter-cont {
  margin-bottom: 50px;
}
footer section.ads .newsletter-cont input {
  font-size: 12px;
  font-style: italic;
  color: #000000;
  width: 270px;
  background-color: #dddddd;
  border: none;
  height: 40px;
  padding-left: 10px;
  margin-right: -5px;
}
footer section.ads .newsletter-cont .btn-newsletter {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  width: 120px;
  background-color: #c4003e;
  height: 40px;
  color: #FFF;
  text-align: center;
  border: none;
}
footer section.group {
  background-color: #b2b2b2;
  padding-top: 50px;
  padding-bottom: 40px;
}
footer section.group .element {
  margin-bottom: 0px;
}
footer section.group h1 {
  color: #000000;
}
footer section.group .gencat {
  width: 150px;
}
footer section.group ul.logos-corp {
  list-style: none;
}
footer section.group ul.logos-corp li {
  display: inline-block;
  margin-right: 30px;
}
footer section.group ul.logos-corp li img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
footer section.group ul.legal {
  list-style: none;
}
footer section.group ul.legal li a {
  color: #000000;
  font-size: 12px;
  line-height: 22px;
}
footer .socket {
  font-family: 'Open Sans', sans-serif;
  background-color: #c4003e;
  min-height: 80px;
  color: #FFF;
  font-size: 13px;
}
footer .socket ul.politiques {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .socket ul.politiques li {
  list-style: none;
}
footer .socket ul.politiques li a {
  color: #FFF;
}
footer .socket .text-left {
  padding-top: 30px;
}
footer .socket .text-right {
  padding-top: 25px;
}
footer .socket .social-cont ul.footer-socials {
  list-style: none;
}
footer .socket .social-cont ul.footer-socials li {
  display: inline-block;
  margin-right: 0px;
}
footer .socket .social-cont ul.footer-socials li a {
  color: #FFF;
  font-size: 28px;
}
footer .socket .social-cont ul.footer-socials li a i:before {
  margin: 0px;
}
footer .socket .social-cont ul.footer-socials li a .fa-youtube, footer .socket .social-cont ul.footer-socials li a .fa-instagram {
  font-size: 17px;
  background: #FFF;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  color: #c4003e;
  text-align: center;
  line-height: 28px;
  top: -4px;
  position: relative;
}
footer .socket .social-cont ul.footer-socials li a .fa-whatsapp {
  font-size: 17px;
  background: #FFF;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  color: #c4003e;
  text-align: center;
  line-height: 28px;
  top: -4px;
  position: relative;
}
footer .digues-teva {
  cursor: pointer;
}
.fit-vertical {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}
/*-------------- Desktop landscape ---------------*/
/*-------------- Desktop potrait ----------------*/
/*--------------- Tablet ipad --------------------*/
@media (min-width: 980px) and (max-width: 1024px) {
  .adds .add-left,
  .adds .add-right {
    display: none;
  }
}
/*--------------- Tablet ipad --------------------*/
/*--------------- Tablet ipad --------------------*/
@media (min-width: 768px) and (max-width: 979px) {
  footer section.ads .newsletter-cont input {
    width: 200px;
  }
  footer section.ads .newsletter-cont .btn-newsletter {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer section.group ul.logos-corp li {
    margin-right: 20px;
  }
  footer section.group {
    padding-bottom: 40px;
  }
  footer .socket {
    min-height: 80px;
    line-height: 22px;
    padding-top: 17px;
  }
  footer .socket span {
    text-align: center !important;
    display: block;
  }
}
/*--------------- PHONE --------------------------*/
@media (max-width: 767px) {
  footer section.sitemap {
    padding-bottom: 40px;
    display: none;
  }
  footer section.sitemap ul.footer-list {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
  }
  footer section.ads {
    text-align: center;
  }
  footer section.ads .social-cont {
    margin-bottom: 30px;
  }
  footer section.group {
    padding-bottom: 40px;
    text-align: center;
    display: none;
  }
  footer section.group ul.logos-corp li {
    margin-right: 20px;
  }
  footer section.group ul.logos-corp li:last-child {
    margin-right: 0px;
  }
  footer .socket {
    min-height: 155px;
    line-height: 22px;
    padding-top: 17px;
  }
  footer .socket span {
    text-align: center !important;
    display: block;
  }
  footer section.ads .newsletter-cont input {
    width: 180px;
  }
  footer section.ads .newsletter-cont .btn-newsletter {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer .socket .social-cont ul.footer-socials {
    list-style: none;
    height: 40px;
    text-align: center;
    margin-top: 20px;
  }
  footer .socket .social-cont {
    height: 45px;
  }
  footer .socket .text-right,
  footer .socket .text-left {
    padding-top: 0px;
  }
}

a[href="https://s3-eu-west-1.amazonaws.com/el9nou/statics/el9noucat.pdf"] {
  display: none;
}
