/* //////////////////////////////////////////////////////////
  CSS VALLES ORIENTAL
  ////////////////////////////////////////////////////////// */
body.valles-oriental a {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
body.valles-oriental a:active,
body.valles-oriental a:focus,
body.valles-oriental a:hover {
  text-decoration: none !important;
  outline: none;
  color: #008c6e !important;
}
body.valles-oriental header.header nav {
  border-top: 2px solid #008c6e !important;
}
body.valles-oriental .barra-superior .breadcrumb {
  color: #008c6e;
}
body.valles-oriental .barra-superior .breadcrumb a {
  color: #008c6e;
}
body.valles-oriental main.home section.articles-petits h3 {
  border-bottom: 2px solid #008c6e;
  color: #008c6e;
}
body.valles-oriental main.home section.noticies-portada article.destacada header h2 {
  color: #008c6e;
}
body.valles-oriental main.home section.articles-compostos {
  background-color: #008c6e;
}
body.valles-oriental main.home section.articles-compostos h3 {
  border-bottom: 2px solid #008c6e;
  color: #008c6e;
}
body.valles-oriental main.fitxa article .content section.related-articles a {
  color: #000000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.valles-oriental main.fitxa article .content section.related-articles a:hover {
  color: #008c6e !important;
}
body.valles-oriental main.fitxa article .content section.related-articles .articles-petits h3 {
  border-bottom: 2px solid #008c6e;
  color: #008c6e;
}
body.valles-oriental main.categoria section#noticies-recents article h2 {
  color: #008c6e;
}
body.valles-oriental main.categoria section#noticies-recents article h1:hover {
  color: #008c6e;
}
body.valles-oriental main.categoria section#noticies-arxiu article h1:hover {
  color: #008c6e;
}
body.valles-oriental main.home section.noticies-portada article.destacada header h1:hover {
  color: #008c6e;
}
body.valles-oriental main.home section.noticies-portada article h1:hover {
  color: #008c6e;
}
body.valles-oriental main.home section.noticies-portada article h2 {
  color: #008c6e;
}
body.valles-oriental footer section.ads .newsletter-cont .btn-newsletter {
  background-color: #008c6e;
}
body.valles-oriental footer .socket {
  background-color: #008c6e;
}
body.valles-oriental footer section.sitemap ul.footer-list li a:hover {
  color: #008c6e;
}
body.valles-oriental .PC-button {
  background: #008c6e;
}
body.valles-oriental .banner.inside-home {
  border-color: #008c6e;
}
/*--------------- Tablet ipad --------------------*/
/*--------------- Tablet ipad --------------------*/
/*--------------- PHONE --------------------------*/
