body.in {
  overflow: hidden;
}
.overlay {
  background: #000000;
  position: fixed;
  z-index: 991;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.overlay h3 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.overlay hr.linia {
  border-color: #696969;
  margin-top: 32px;
}
.overlay .list-options {
  min-height: 225px;
}
.overlay .list-options h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #FFF;
  list-style: none;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0px;
}
.overlay .list-options h2 a {
  color: #FFF;
  display: block;
}
.overlay .list-options .digues-la-teva {
  cursor: pointer;
}
.overlay .hamburger {
  padding: 0px;
  margin-top: 75px;
  margin-bottom: 30px;
}
.overlay .hamburger-box {
  width: 25px;
  height: 20px;
}
.overlay .hamburger-inner,
.overlay .hamburger-inner:after,
.overlay .hamburger-inner:before {
  background-color: #FFF;
  width: 25px;
  height: 2px;
}
.overlay .hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
          transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.overlay .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay .navbar-brand {
  width: 290px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 50px;
}
.overlay .search-btn {
  position: absolute;
  right: 10px;
  top: 75px;
  font-size: 24px;
  color: #FFF;
  cursor: pointer;
}
.overlay hr {
  margin-bottom: 30px;
  border-color: #696969 !important;
}
.overlay ul.menu {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  list-style: none;
  margin-bottom: 40px;
}
.overlay ul.menu li {
  font-size: 13px;
}
.overlay ul.menu li a {
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
  text-decoration: none;
}
.overlay ul.menu li:first-child {
  /*font-weight: 800;
            margin-bottom: 10px;*/
}
.overlay ul.menu-large {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  list-style: none;
  margin-bottom: 40px;
}
.overlay ul.menu-large li:first-child {
  display: none;
}
.overlay ul.menu-large li {
  font-size: 20px;
  line-height: 26px;
}
.overlay ul.menu-large li a {
  font-size: 18px;
  line-height: 30px;
  color: #FFF;
  text-decoration: none;
  font-weight: 800;
}
.overlay .this-options .brand {
  width: 100px;
  display: block;
}
.overlay .this-options .brand img {
  /*  width: 125px;*/
  max-width: 100%;
  height: auto;
}
.overlay .this-options .brand.tv {
  width: 130px;
  display: block;
}
.overlay .this-options .brand.fm {
  width: 130px;
  display: block;
}
.overlay .this-options .brand.blogosfera {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  color: #FFF;
  padding: 0;
  border-bottom: 3px solid #FFF;
  width: 145px;
}
.overlay .this-options .brand.magazin {
  width: 130px;
  display: block;
}
.overlay .el-temps {
  background: #e2e2e2;
  padding: 25px;
  border-radius: 0px;
  margin-top: 30px;
}
.overlay .el-temps a {
  color: #000;
}
.overlay .el-temps h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
}
.overlay .el-temps h2 i {
  margin-left: 20px;
  cursor: pointer;
}
.overlay .el-temps h2 i.fa-check {
  margin-left: 10px;
}
.overlay .el-temps h2 span {
  color: #000;
  font-weight: 400;
  cursor: pointer;
}
.overlay .el-temps .temps {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}
.overlay .el-temps .imatge {
  color: #000;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 50px;
}
.overlay .el-temps .dia {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.overlay .el-temps .min-max {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  display: block;
}
.overlay .el-temps .temperatura {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.overlay .el-temps .temperatura:after {
  content: "";
  margin: 0;
  font-size: 11px;
  vertical-align: bottom;
}
.overlay .el-temps .temperatura-max,
.overlay .el-temps .temperatura-min {
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
  display: block;
  color: #000;
}
.overlay .grup-corporatiu {
  background: #111;
  padding: 25px;
  border-radius: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.overlay .grup-corporatiu a {
  color: #FFF;
}
.overlay .grup-corporatiu h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
  margin-top: 0px;
}
.overlay .grup-corporatiu h2 i {
  margin-left: 20px;
  cursor: pointer;
}
.overlay .grup-corporatiu h2 span {
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
}
.overlay .grup-corporatiu .logo-9fm span,
.overlay .grup-corporatiu .logo-9tv span,
.overlay .grup-corporatiu .logo-9clics span,
.overlay .grup-corporatiu .logo-ctl span,
.overlay .grup-corporatiu .nou-cat span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #FFF;
  display: block;
  margin-bottom: 30px;
}
.overlay .grup-corporatiu .logo-9fm span a,
.overlay .grup-corporatiu .logo-9tv span a,
.overlay .grup-corporatiu .logo-9clics span a,
.overlay .grup-corporatiu .logo-ctl span a,
.overlay .grup-corporatiu .nou-cat span a {
  color: #FFF;
}
.overlay .grup-corporatiu .logo-9fm span a:hover,
.overlay .grup-corporatiu .logo-9tv span a:hover,
.overlay .grup-corporatiu .logo-9clics span a:hover,
.overlay .grup-corporatiu .logo-ctl span a:hover,
.overlay .grup-corporatiu .nou-cat span a:hover {
  color: #FFF;
}
.overlay .grup-corporatiu .logo-club img {
  max-width: 60px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .nou-cat img {
  max-width: 110px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .logo-9fm img {
  max-width: 55px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .logo-9fm span {
  margin-bottom: 30px;
}
.overlay .grup-corporatiu .logo-9tv img {
  max-width: 55px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .logo-9clics img {
  max-width: 75px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .logo-9clics span {
  margin-bottom: 0px;
}
.overlay .grup-corporatiu .logo-ctl img {
  max-width: 35px;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
.overlay .grup-corporatiu .logo-ctl span {
  margin-bottom: 0px;
}
.overlay .social {
  background: #111111;
  padding: 25px;
  border-radius: 0px;
  margin-top: 20px;
}
.overlay .social h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
}
.overlay .social h2 i {
  margin-left: 20px;
  cursor: pointer;
}
.overlay .social h2 span {
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
}
.overlay .social .xarxes {
  margin-bottom: 20px;
}
.overlay .social ul.compartir {
  list-style: none;
  text-align: left;
}
.overlay .social ul.compartir li {
  display: inline-block;
  font-size: 13px;
  color: #808080;
  font-weight: 400;
}
.overlay .social ul.compartir li a {
  font-size: 16px;
  color: #FFF;
  font-weight: 400;
}
.overlay .social ul.compartir li:before {
  /*  content: "";
            height: 5px;
            border-left: 1px solid #FFF;
            padding-left: 20px; */
}
.overlay .social ul.compartir li:after {
  content: "";
  padding-right: 20px;
}
.overlay .social ul.compartir li:last-child:after {
  /*  border-right: 1px solid #FFF;*/
}
.overlay.in {
  background: #1f1f1f;
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  pointer-events: auto;
  overflow-y: scroll;
}
.overlay-search {
  background: rgba(255, 255, 255, 0.98);
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-y: scroll;
  pointer-events: none;
}
.overlay-search .icon-lupa {
  font-size: 40px;
  margin-top: 35px;
  display: block;
  margin-left: 0px;
  color: #667;
}
.overlay-search .container {
  padding-top: 120px;
}
.overlay-search .hamburger {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 25px;
  right: 30px;
}
.overlay-search .hamburger-box {
  width: 25px;
  height: 30px;
}
.overlay-search .hamburger-inner,
.overlay-search .hamburger-inner:after,
.overlay-search .hamburger-inner:before {
  background-color: #333;
  width: 25px;
  height: 2px;
}
.overlay-search .hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay-search .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
          transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.overlay-search .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.overlay-search hr {
  border-color: #ddd !important;
}
.overlay-search input::-webkit-input-placeholder,
.overlay-search textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #666 !important;
}
.overlay-search input:-moz-placeholder,
.overlay-search textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666 !important;
}
.overlay-search input::-moz-placeholder,
.overlay-search textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666 !important;
}
.overlay-search input:-ms-input-placeholder,
.overlay-search textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #666 !important;
}
.overlay-search input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 70px;
  color: #666;
}
.overlay-search .search-left {
  margin-bottom: 40px;
}
.overlay-search h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 20px;
}
.overlay-search .recent-news {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 0px;
  background: #f2f2f2;
}
.overlay-search .recent-news ul.info-article {
  right: 0px;
  left: 0px;
}
.overlay-search .recent-news .thumb {
  float: left;
  width: 25%;
  height: auto;
  margin-right: 4%;
}
.overlay-search .recent-news .content {
  float: left;
  width: 71%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 10px;
}
.overlay-search .recent-news .content a {
  color: #000;
}
.overlay-search .recent-news .content header h1 {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.overlay-search.in {
  opacity: 1;
  pointer-events: auto;
}
/* //////////////////////////////////////////////
      MEDIA QUERIES
      ////////////////////////////////////////////// */
/*--------------- Tablet ipad --------------------*/
@media (min-width: 768px) and (max-width: 979px) {
  .overlay .el-temps h2 {
    border-top: 1px solid #FFF;
    padding-top: 30px;
  }
  .overlay .el-temps .temps {
    margin-bottom: 40px;
  }
  .overlay .logo {
    margin-bottom: 40px;
  }
  .overlay-search input {
    font-size: 50px;
  }
  .overlay-search .icon-lupa {
    font-size: 40px;
    margin-top: 15px;
    display: block;
    margin-left: 30px;
    color: #667;
  }
  .overlay .social {
    margin-bottom: 30px;
  }
}
/*--------------- PHONE --------------------------*/
@media (max-width: 767px) {
  .overlay .navbar-brand {
    width: 185px;
    margin-top: 22px;
  }
  .overlay .hamburger {
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .overlay .search-btn {
    top: 37px;
  }
  .overlay ul.menu {
    text-align: center;
  }
  .overlay .list-options h2 {
    text-align: center;
    margin: 0 !important;
    border-bottom: 1px solid #696969;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #111;
  }
  .overlay .list-options h2 {
    text-align: center;
    margin: 0 !important;
    border-bottom: 1px solid #696969;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: transparent;
  }
  .overlay .list-options h2 a {
    display: block;
  }
  .overlay .list-options h2 a:hover,
  .overlay .list-options h2 a:focus {
    text-decoration: none;
  }
  .overlay ul.menu {
    display: none;
  }
  .overlay ul.menu.in {
    display: block;
  }
  /* overlay menu mobile */
  #navegation-site .overlayInner {
    position: absolute;
    width: 250px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
  }
  #navegation-site .overlayInner .hamburger {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #navegation-site .overlayInner ul {
    margin-top: 50px;
    width: 250px;
    list-style: none;
    margin: auto;
  }
  #navegation-site .overlayInner ul li {
    color: #FFF;
    text-transform: uppercase;
    line-height: 55px;
  }
  #navegation-site .overlayInner ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  #navegation-site .overlayInner ul li a:after {
    content: "";
    font-size: 10px;
    clear: both;
    display: block;
    letter-spacing: -1px;
    color: #FFF;
    border-bottom: 1px solid;
    line-height: 29px;
    height: 15px;
    width: 20px;
    margin: auto;
    margin-bottom: 10px;
  }
  #navegation-site .overlayInner ul li:last-child a:after {
    border: none;
    content: "";
    margin: 0;
    padding: 0;
  }
  .overlay hr {
    margin-top: 15px;
    margin-bottom: 0px;
    border-color: #696969 !important;
  }
  .overlay .el-temps {
    display: none;
  }
  .overlay .el-temps .dia {
    margin-top: 15px;
  }
  .overlay .el-temps h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 13px;
    text-align: left;
    border-top: 1px solid #FFF;
    padding-top: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .overlay .logo-9fm {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .overlay .logo-9clics {
    margin-bottom: 30px;
  }
  .overlay .logo-ctl {
    margin-bottom: 20px;
  }
  .overlay ul.compartir {
    text-align: center;
  }
  .overlay ul.menu {
    margin-bottom: 0px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
  }
  .overlay ul.menu li a {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
  }
  .overlay ul.menu li {
    font-size: 13px;
    line-height: 30px;
  }
  .overlay ul.menu li:after {
    /* content: "";
          font-size: 10px;
          clear: both;
          display: block;
          letter-spacing: -1px;
          color: #FFF;
          border-bottom: 1px solid;
          line-height: 29px;
          height: 5px;
          width: 20px;
          margin: auto;
          margin-bottom: 10px;
          margin-top: 10px; */
  }
  .overlay ul.menu li:last-child:after {
    /* content: '';
          width: 0; */
  }
  .overlay-search input {
    font-size: 30px;
  }
  .overlay-search .icon-lupa {
    font-size: 25px;
    margin-top: 10px;
  }
  .overlay-search h1 {
    font-size: 20px;
  }
  ul.menu-phone {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 50%;
    left: 15px;
    right: 15px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  ul.menu-phone li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #FFF;
    text-align: center;
    color: #FFF;
  }
  ul.menu-phone li:first-child a {
    border-top: 1px solid #FFF;
  }
  .mobile-bottom {
    margin-bottom: 30px !important;
    text-align: center;
  }
  .overlay .social {
    margin-bottom: 30px;
  }
  .overlay .social .xarxes {
    margin-bottom: 10px !important;
    text-align: center;
  }
  .overlay .social ul.compartir {
    text-align: center;
  }
  .overlay .list-options {
    min-height: auto;
  }
  .overlay ul.menu-large li {
    text-align: center;
    border-bottom: 1px solid #696969;
    font-size: 16px;
    line-height: inherit;
    /* min-height: 35px; */
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .overlay ul.menu-large li:first-child {
    display: block;
    font-size: 13px;
    color: #FFF;
    list-style: none;
    font-weight: 800;
    line-height: 40px;
    text-decoration: none;
  }
  .overlay ul.menu-large li a {
    font-size: 13px;
    color: #FFF;
    list-style: none;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
  }
  .no-pad {
    padding-left: 0px;
    padding-right: 0px;
  }
  .overlay ul.menu-large {
    margin-bottom: 0px;
  }
  h2.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid #696969;
    background: #111111;
    cursor: pointer;
    margin: 0;
  }
  h2.title:after {
    content: "\f107 ";
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    font-size: 22px;
    font-size: 18px;
    font-weight: 400;
  }
  .overlay .grup-corporatiu h2 {
    text-align: center;
    margin: 0px;
    border-bottom: 1px solid #696969;
    cursor: pointer;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .overlay .grup-corporatiu h2:after {
    content: "\f107 ";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 22px;
    font-weight: 400;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .overlay .grup-corporatiu h2.minus2:after {
    content: "\f107 ";
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    right: 10px;
  }
  .toggle {
    display: none;
  }
  .overlay .grup-corporatiu {
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 0;
    background-color: #111111;
  }
  .mobile-bottom {
    display: none;
  }
  .logos-corporative {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
  .overlay .social {
    margin-top: 0px;
    padding: 10px;
  }
  .overlay .social ul.compartir li:last-child:after {
    padding-right: 0px;
  }
  .overlay .list-options h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
    list-style: none;
    font-weight: 400;
  }
  .overlay .list-options h2:after {
    content: "+";
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 22px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  .overlay .list-options h2.minus:after {
    content: "-";
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    right: 28px;
    line-height: 20px;
  }
  .overlay .list-options h2.no-plus:after {
    content: "";
  }
  .overlay .list-options h2.no-plus a {
    text-transform: uppercase;
  }
  .overlay .grup-corporatiu .logo-9fm span {
    margin-bottom: 15px;
  }
  .overlay ul.menu {
    height: 0px;
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid #e2e2e2;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .overlay ul.menu.down {
    margin-bottom: 0px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
    height: 180px;
  }
  .overlay ul.menu.down.temps {
    height: 100px;
  }
}
