
  /* //////////////////////////////////////////////////////////
  CSS CATEGORIA
  ////////////////////////////////////////////////////////// */
      
  main.categoria {
        margin-top: 40px;

        .bloc {
          margin-bottom: 40px; // 60px;
        }

        section#noticies-recents {
       
            article.destacada {
              display: block;
              height: 100%;
              overflow: hidden;
              position: relative; 
              display: table;             

              header {         

                  h1 {
                    font-family: @font-sans;
                    font-weight: @extrabold;
                    font-size: 26px;
                    line-height: 30px;
                    color:@color-black;
                    margin-bottom: 10px;
                  }
                  h1:hover {
                      color: @color;
                  }
                  h2 {
                    font-family: @font-sans;
                    font-weight: @regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: @color;
                    margin-bottom: 5px;
                    margin-top: 0px;
                  }
                  p {
                    font-family: @font-serif;
                    font-weight: @regular;
                    font-size: 13px;
                    line-height: 20px;
                  }                  
              }   

              .noticia {
                img {
                  margin-bottom: 0px;                  
                }
              } 

            } // article.destacada


            article {
              margin-bottom: 50px;     

              figure {
                 img {
                    /*max-height: 175px;
                    width: auto;
                    text-align: center;
                    margin: auto;*/
                    margin-bottom: 10px;
                  }
              }         

              h1 {
                    font-family: @font-sans;
                    font-weight: @extrabold;
                    font-size: 18px;
                    line-height: 22px;
                    color:@color-black;
                    margin-bottom: 10px;
                  }
              h1:hover {
                  color: @color;
              }
              h2 {
                    font-family: @font-sans;
                    font-weight: @regular;
                    font-size: 14px;
                    line-height: 24px;
                    color: @color;
                    margin-bottom: 0px;
                   // margin-top: 10px;
                }
                p {
                    font-family: @font-serif;
                    font-weight: @regular;
                    font-size: 13px;
                    line-height: 20px;
                }
                .date {
                      font-family: @font-sans;
                      font-weight: @regular;
                      font-size: 14px;
                      line-height: 18px;
                      display: block;
                      color: #333333;
                      margin-bottom: 5px;
                      margin-top: 15px;
                  }
                
            } // article

      } // #noticies-recents

      section#noticies-arxiu { 

        .noticia {
          min-height: 150px; // 150
          margin-bottom: 30px; // 40
        }

        article {

          h1 {
            font-size: 18px;
            line-height: 22px;
          }
           h1:hover {
              color: @color;
          }
          .thumb {
            float: left;
            width: 25%;
            height: auto;
            margin-right: 4%;
          }
          .content {
            float: left;
            width: 71%;            
          }
          .date {
              font-family: @font-sans;
              font-weight: @regular;
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 5px;
              display: block;
              color: #333333;
          }

        }

        .prev-next-posts {
          
          .prev-posts-link, .next-posts-link {
            margin-left: 15px;
            margin-right: 15px;            

            a {
              color: #333333;
              border: 1px solid #ddd;
              font-family: @font-sans;
              font-size: 13px;
              display: block;
              text-align: center;
              background-color: #FFF;
              height: 40px;
              line-height: 40px;
              border-radius: 8px;
              padding-left: 20px;
              padding-right: 20px;
              transition: all 0.3s ease;
            }
            a:hover {
              background-color: #333;
              color: #FFF;
            }
          }
          .prev-posts-link {
            float: left;
          }
          .next-posts-link { 
            float: right;
          }
        }

      } //noticies-arxiu


  }

  /*-------------- Desktop landscape ---------------*/

  @media (min-width: 1200px) {

  }

  /*-------------- Desktop potrait ----------------*/

  @media (min-width: 980px) and (max-width: 1199px) {
    main.categoria section#noticies-recents article.destacada header h1 {
      font-size: 22px;
      line-height: 26px;
    }
   }

  /*--------------- Tablet ipad --------------------*/
  @media (min-width: 980px) and (max-width: 1024px) {
          
    main.categoria section#noticies-recents article.destacada header h1 {
      font-size: 22px;
      line-height: 26px;
    }
  }


  /*--------------- Tablet ipad --------------------*/

  @media (min-width: 768px) and (max-width: 991px) {

  }

  /*--------------- Tablet ipad --------------------*/

  @media (min-width: 768px) and (max-width: 979px) {

   /* main.fitxa {
        margin-top: 140px;
    }
    */
    main.categoria .bloc .row {
      margin-bottom: 0px;
    }
    main.categoria section#noticies-recents article.destacada header h1 {
      font-size: 22px;
      line-height: 26px;
    }

  }


  /*--------------- PHONE --------------------------*/
  @media(max-width:767px) {

    main.categoria {
      margin-top: 20px;
    }
    main.categoria .bloc {
      margin-bottom: 0px;
    }
    main.categoria section#noticies-recents article {
      margin-bottom: 0px;
    }
    main.categoria section#noticies-recents article.destacada .noticia {
      margin-bottom:  0px;
      padding-bottom: 0px; // 40px
    }
    main.categoria section#noticies-arxiu .noticia {
      min-height: inherit;
    }
    main.categoria section#noticies-arxiu .noticia article {
        margin-bottom: 0px;
    }
    main.categoria section#noticies-recents article.destacada header h1 {
        font-size: 18px;
        line-height: 22px;
    }
    main.categoria section#noticies-recents article.destacada header h2 {
        margin-top: 15px;
    }
  }


      