
  /* //////////////////////////////////////////////////////////
  CSS SEARCH
  ////////////////////////////////////////////////////////// */
      
body.search {

    main.main {
      margin-top: 40px;
    }
    
    .bloc {

      .noticia  {
        margin-bottom: 20px;
      }
      header {
        .date {
          font-family: @font-sans;
          font-weight: @regular;
          font-size: 14px;
          line-height: 22px;
          color: #333333;
        }
      }
    }
    .prev-next-posts {
          
          .prev-posts-link, .next-posts-link {
            margin-left: 15px;
            margin-right: 15px;            

            a {
              color: #333333;
              border-bottom: 1px solid #333333;
              font-family: @font-sans;
              font-size: 13px;
            }
          }
          .prev-posts-link {
            float: left;
          }
          .next-posts-link { 
            float: right;
          }
        } 
        
}          




      