html,body{padding:0;margin:0;height:100%;width:100%;background-color:#FFFFFF;font-family:arial;font-size:9pt;color:#000000;}

#form1 form{text-align:right;margin:50px 445px 25px 0;}

pre, tt       {font-size: small}
th            {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold;}
td            {font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
form          {font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
input         {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000;}
select        {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000;}
textarea      {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000;}
h1            {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}
A:link        {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; color: #666666}
A:visited     {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; color: #666666}
A:hover       {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; color: #000000}


/****************** ESTILS NOUS **********************/
.llista1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #4d4d4d;
	text-decoration: none;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #4d4d4d;
}
.llista2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.llista2 a, #llista2_a{
	color:#000;
	font-size:10px;
	font-style: normal;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.llista2 a:hover, #llista2_a:hover{
	color:#4d4d4d;
	font-size:10px;
	font-style: normal;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.llista3 a, #llista3_a{
	color:#fff;
	background-color:#000;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left:3px;
	padding-right:3px;
}
.llista3 a:hover, #llista3_a:hover{
	color:#000;
	background-color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left:3px;
	padding-right:3px;
}
.llista4 a, #llista4_a{
	color:#fff;
	background-color:#FF0000;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left:3px;
	padding-right:3px;
}
.llista4 a:hover, #llista4_a:hover{
	color:#fff;
	background-color:#990000;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-left:3px;
	padding-right:3px;
}
/***** FORMULARIS ******/

.cerca1 form label,#cerca1_form_label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #dddddd;
	padding-left:10px;
	padding-right:3px;
	text-decoration: none;
}
.cerca1 form input, #cerca1_form_input{
	border:none;
	background-color:#dddddd;
	padding-left:3px;
	padding-right:3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.cerca1 form select, #cerca1_form_select{
	height:16px;
	font-size:9px;
	background-color:#dddddd;
	padding-left:3px;
	padding-right:3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.cerca1 a, #cerca1_a{
	width:16px;
	height:16px;
	border:1px solid #ddd;
	background-color:#4d4d4d;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding: 0px 3px 2px 3px;
	text-decoration: none;
}
.cerca1 a:hover, #cerca1_a:hover{
	width:16px;
	height:16px;
	border:1px solid #ddd;
	background-color:#FF9900;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding: 0px 3px 2px 3px;
	text-decoration: none;
}

.cerca1 td, #cerca1_td{
	background-color:#000;
	color:#fff;
	font-size:11px;
	font-style: normal;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	padding: 0px;
	text-decoration: none;
}
.cerca1d td, #cerca1d_td{
	background-color:#000;
	color:#fff;
	font-size:11px;
	font-style: normal;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	vertical-align: middle;
	padding: 0px;
	text-decoration: none;
}

.marc_dret {
	border-right-width: thin;
	border-right-color: #000000;
	border-right-style: solid;
}
/********* FORMULARIS **********/
.formulari td, #formulari_td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.formulari form label, #formulari_form_label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	padding-left:3px;
	padding-right:3px;
	text-decoration: none;
}
.formulari form input, #formulari_form_input, #camp_data, #camp_data2, #camp_data3{
	border: none;
	background-color:#dddddd;
	padding-left:2px;
	padding-right:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.formulari form label.etitria, #label_etitria
{
    width: 90px;
    height: 15px;
    background: url('../imatges/tria_arxiu.gif') 0 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.formulari form label.etitria input.file, #label_etitria_input_file
{
    position: relative;
    height: 100%;
    width: auto;
	cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.formulari form textarea, #formulari_form_textarea{
	border:none;
	background-color:#dddddd;
	padding-left:2px;
	padding-right:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.formulari form select, #formulari_form_select{
	border:none;
	background-color:#dddddd;
	padding-left:2px;
	padding-right:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
#form_input_gris{
	border:none;
	background-color:#eeeeee;
	padding-left:2px;
	padding-right:2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
#error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	padding-left:5px;
}
.formulari form label4, #formulari_form_label4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	padding-left:3px;
	padding-right:3px;
	text-decoration: none;
}
/***** BOTONS *****/

#botons{
	width:16px;
	height:16px;
	border:1px solid #ddd;
	background-color:#4d4d4d;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding-left:0px;
	text-decoration: none;
}
#botons:hover, #botons:focus{
	width:16px;
	height:16px;
	border:1px solid #ddd;
	background-color:#FF9900;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding-left:0px;
	text-decoration: none;
}
#bot_modifica{
	height:16px;
	border:1px solid #ddd;
	background-color:#4d4d4d;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}
#bot_avisa{
	height:16px;
	border:1px solid #ddd;
	background-color:#f00;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}
#bot_modifica:hover, #bot_modifica:focus, #bot_avisa:hover, #bot_avisa:focus{
	height:16px;
	border:1px solid #ddd;
	background-color:#FF9900;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}
#bot_modifica2{
	height:16px;
	border:1px solid #ddd;
	background-color:#4d4d4d;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 2px 5px;
}
#bot_modifica2:hover, #bot_modifica2:focus{
	height:16px;
	border:1px solid #ddd;
	background-color:#FF9900;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding: 0px 5px 2px 5px;
}

#bot_esborra{
	height:16px;
	width:16px;
	border:1px solid #ddd;
	background-color:#FF0000;
	color:#fff;
	font-size:10px;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	padding: 0px 2px 2px 2px;
}
#bot_esborra:hover, #bot_esborra:focus{
	border:1px solid #ddd;
	background-color:#990000;
}
.resalta_linia{
	background-color:#EEEEEE;
}
.resalta_linia2{
	background-color:#ABB3BE;
}
#link_blanc{
	color:#fff;
	font-size:11px;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#link_blanc:hover{
	color:#FF9900;
	font-size:11px;
	font-weight: bold;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a#ofe_entrar{
	background-color: #F00;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	width:170px;
	margin-top:15px;
    margin-bottom:15px;
	text-decoration:none;
	display:block;
	vertical-align:middle;
    cursor:pointer;
}
a#ofe_entrar:hover{
	background-color: #f90;
}
/***** estils editor *******/
.rteImage {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
	cursor: pointer;
	cursor: hand;
}

.rteImageRaised, .rteImage:hover {
	background: #D3D3D3;
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}

.rteImageLowered, .rteImage:active {
	background: #D3D3D3;
	border: 1px inset;
	cursor: pointer;
	cursor: hand;
}

.rteVertSep {
	margin: 0 4px 0 4px;
}

.rteBack {
	background: #D3D3D3;
	letter-spacing: 0;
	padding: 2px;
}

.rteBack tbody tr td, .rteBack tr td {
	background: #D3D3D3;
	padding: 0;
}

.rteDiv {
	display: block;
	position: relative;
}
/******** capes ********/
.capa_fons {
	background-color: #333333;
	visibility: hidden;
	z-index: 10;
	height: 100%;
	width: 100%;
	filter: Alpha(Opacity=50);
}
