
  /* //////////////////////////////////////////////////////////
  CSS VALLES ORIENTAL
  ////////////////////////////////////////////////////////// */

body.valles-oriental {

  a {
    transition:all 0.2s ease;
  }   
  
  a:active,
  a:focus,
  a:hover {
    text-decoration: none !important;
    outline: none;
    color: @color-valles !important;
  }

  header.header nav {
      border-top: 2px solid @color-valles !important;  
  }
  .barra-superior .breadcrumb {
    color: @color-valles;

    a {
      color: @color-valles;
    }
  }
  main.home section.articles-petits h3 {
    border-bottom: 2px solid @color-valles;
    color: @color-valles;
  }
  main.home section.noticies-portada article.destacada header h2 {
    color: @color-valles;
  }
  main.home section.articles-compostos {
    background-color: @color-valles;    

    h3 {      
      border-bottom: 2px solid @color-valles;     
      color: @color-valles;
    }    
  }
  main.fitxa article .content section.related-articles a {
      color: #000000;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  main.fitxa article .content section.related-articles a:hover {
    color: @color-valles !important;
  }
  main.fitxa article .content section.related-articles .articles-petits h3 {
    border-bottom: 2px solid @color-valles;
    color: @color-valles;
  }
  main.categoria section#noticies-recents article h2 {
    color: @color-valles;
  }
  main.categoria section#noticies-recents article h1:hover {
    color: @color-valles;
  }
  main.categoria section#noticies-arxiu article h1:hover {
    color: @color-valles;
  }
  main.home section.noticies-portada article.destacada header h1:hover {
    color: @color-valles;
  }
  main.home section.noticies-portada article h1:hover {
    color: @color-valles;
  }
  main.home section.noticies-portada article h2 {
    color: @color-valles;
  }
  footer section.ads .newsletter-cont .btn-newsletter {
    background-color: @color-valles;
  }
  footer .socket {
    background-color: @color-valles;
  }
  footer section.sitemap ul.footer-list li a:hover {
    color: @color-valles;
  }

  .PC-button {
    background: @color-valles;
  }
  .banner.inside-home {
    border-color: @color-valles;
  }
}

 /*--------------- Tablet ipad --------------------*/

  @media (min-width: 768px) and (max-width: 991px) {
  

  }

 /*--------------- Tablet ipad --------------------*/

@media (min-width: 768px) and (max-width: 979px) {

}


/*--------------- PHONE --------------------------*/
@media(max-width:767px) {


}
      