
.icon-9nou-icon-2actualitat:before { content: '\e835'; } /* '' */
.icon-9nou-icon-2politica:before { content: '\e836'; } /* '' */
.icon-9nou-icon-2economia:before { content: '\e837'; } /* '' */
.icon-9nou-icon-2societat:before { content: '\e838'; } /* '' */
.icon-9nou-icon-2cultura:before { content: '\e839'; } /* '' */
.icon-9nou-icon-2esports:before { content: '\e83a'; } /* '' */
.icon-9nou-icon-2wearther:before { content: '\e83f'; } /* '' */