@font-face {
  font-family: '9nou-icons';
  src: url('src/libs/fontello/9nou-icons.eot?67371413');
  src: url('src/libs/fontello/9nou-icons.eot?67371413#iefix') format('embedded-opentype'),
       url('src/libs/fontello/9nou-icons.woff2?67371413') format('woff2'),
       url('src/libs/fontello/9nou-icons.woff?67371413') format('woff'),
       url('src/libs/fontello/9nou-icons.ttf?67371413') format('truetype'),
       url('src/libs/fontello/9nou-icons.svg?67371413#9nou-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '9nou-icons';
    src: url('../font/9nou-icons.svg?67371413#9nou-icons') format('svg');
  }
}
*/
 
 [class^="icon9icons-"]:before, [class*=" icon9icons-"]:before {
  font-family: "9nou-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon9icons-actualitat:before { content: '\e835'; } /* '' */
.icon9icons-politica:before { content: '\e836'; } /* '' */
.icon9icons-economia:before { content: '\e837'; } /* '' */
.icon9icons-societat:before { content: '\e838'; } /* '' */
.icon9icons-cultura-i-gent:before { content: '\e839'; } /* '' */
.icon9icons-esports:before { content: '\e83a'; } /* '' */