
/* //////////////////////////////////////////////////////////
CSS LEGALS
////////////////////////////////////////////////////////// */

main.textos-legals {
	margin-top: 40px;
	margin-bottom: 60px;

	h1.textos-legals {
		color: #c4003e;
	    float: left;
	    background: none;
	    padding: 0px;
	    margin: 0px;
	    width: 100%;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 800;
	    font-size: 18px;
	    border-top: 1px solid #dddddd;
	    border-bottom: 1px solid #dddddd;
	    min-height: 40px;
	    line-height: 40px;
	    margin-bottom: 30px;
	}

	p {
	    margin: 20px 0 10px;
	    font-size: 14px;
	    line-height: 22px;
	}
	ul {
		list-style: circle;
		margin-left: 20px;
		font-size: 14px;
    	line-height: 22px;
	}
	p.adresa {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;		
	}
	strong.titol {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;		
		margin-top: 20px;
		margin-bottom: -5px;
    	display: block;
	}
}

.page-id-62682 p.p1 {
	margin-top: 0px;
}
