
  /* //////////////////////////////////////////////////////////
      CSS EL9FM
      ////////////////////////////////////////////////////////// */


      body.el9fm {
        .topbar-wrapp {
          background-color: @color;
        }
        .topbar-wrapp ul.corporative li:before, .topbar-wrapp ul.user li:before {
          color: #999;
        }
        main {
          margin-bottom: 100px;
        }

        .smaller {
            background: #FFF;           
            z-index: 91;

            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
              background-color:  #000;
            }
            .search-btn {
              color: #000;
            }
          }
          .smaller .navbar-brand {
            width: 110px;
            padding-top: 17px;            
          }

        header.el9fm {
          background: #FFF;
          height: 160px;

          .header-wrapp {
            height: 110px;
          }
          .hamburger {      
            top: 45px;
          }
          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #000;
          }
          .search-btn {
            top: 42px;   
          }
          .navbar-brand {
            width: 200px;
          }

          nav {
            border: none;
            line-height: 50px;

            ul {
              text-align: center;

              .icon9fm-waves {
                float: right;
                color: @color;
                font-size: 34px;
              }

              li:after {
                padding: 0;
                margin: 0;
              }
              li:before {
                padding: 0;
                margin: 0;
              }

            }

            ul li {
              background: #000;
              color: #fff;
              border-right: 1px solid #FFF;

              a {
                color: #fff;
                font-size: 13px;
                display: block;
                line-height: 50px;

                span {
                  font-weight: @extrabold;
                }
              }  
            }  

            ul li:before {
              border: none;
            }
            ul li:last-child {
              border: none; 
            }
            ul li:last-child:after {
              content: "";
              border-right: none;
            }
          }  

          .search-btn {
            color: #000;
          }
        }

        ////// audio stream

        section.audio-stream {
          background: @color;
          margin-bottom: 50px;

          h1  {
            min-height: 150px;
            line-height: 150px;
            color: #FFF;
            text-align: center;
            font-family: @font-sans;
            font-weight: 800;
          }

          figure {
            background:#312f30;
            background: -webkit-linear-gradient(top left, #282526 50%, #312f30 50%);
            background: -o-linear-gradient(top left, #282526 50%, #312f30 50%);
            background: linear-gradient(to bottom right, #282526 50%, #312f30 50%);
            min-height: 305px;

            img {
              position: relative;
            }

            figcaption {
              position: absolute;
              font-family: @font-sans;
              font-weight: @extrabold;
              font-size: 36px;
              line-height: 38px;
              color: #FFF;
              left: 25px;
              top: 50%;
              transform: translateY(-50%);

              span {
                color: @color;
              }
            }
          }

          audio {
            margin: 0;
            margin-bottom: -5px;
            width: 100%;
            height: 60px;
            background-color: #111111;
            padding-bottom: 15px;
          }

          .info-audio {
            background-color: #262626;
            padding: 25px;
            padding-top: 20px;
            min-height: 365px;

            .programa {
              border-bottom: 1px solid #e2e2e2;
              margin-bottom: 10px;
              position: relative;

              .sharer {
                position: absolute;
                right: 0px;
                bottom: 10px;
                color: #FFF;

                a {
                 color: #FFF;
               }

               .icon9fm-download {
                font-size: 18px;
              }
            }
          }

          .data {
            color: #FFF;
            font-family: @font-sans;
            font-weight: @light;
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 5px;
          }
          h2 {
            font-family: @font-sans;
            font-weight: @extrabold;
            color: #FFF;
            font-size: 16px;
            line-height: 20px;

            a {
              color: #FFF;
            }
          }
          p {
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 14px;
            line-height: 20px;
            color: @color;
            padding-right: 40px;
          }
        }
      }

      //// audio destacats

      section.audio-destacats {

        article {
          margin-bottom: 10px;
        }

        .filter {
          float: right;
          font-family: @font-sans;
          font-weight: @regular;
          font-size: 13px;
        }

        h2 {
          font-family: @font-sans;
          font-weight: @extrabold;
          color: #000;
          font-size: 18px;
          line-height: 30px;
          border-bottom: 1px solid #e2e2e2;
          padding-bottom: 5px;
          margin-bottom: 20px;       

          span {
            display: block;
            position: absolute;
            top: 5px;
            right: 15px;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 24px;
            font-weight: @light;

            a.all {
              color: #000;
              font-size: 13px;
              line-height: 24px;
              font-weight: @light;
            }

          }
        }

        .audio {        

          figure {
            background:#312f30;
            background: -webkit-linear-gradient(top left, #282526 50%, #312f30 50%);
            background: -o-linear-gradient(top left, #282526 50%, #312f30 50%);
            background: linear-gradient(to bottom right, #282526 50%, #312f30 50%);
            position: relative;          
            width: 120px;
            height: 120px;
            display: inline-block;
            vertical-align: top;

            .play {
              position: absolute;
              z-index: 9;
              left: 50%;
              top: 50%;
              color: #FFF;
              font-size: 70px;
              transform: translate(-50%,-50%);
              pointer-events: none;
            }
          }

          header {
            width: 60%;
            margin-left: 15px;
            display: inline-block;
          }
        }

        .data {
          font-family: @font-sans;     
          font-weight: @light;   
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 0px;
          display: block;
          color: #000;
        }
        .durada {
          font-family: @font-sans;     
          font-weight: @light;   
          font-size: 13px;
          line-height: 20px;
        }
        a {
          font-family: @font-sans;
          font-weight: @extrabold;
          color: #000;
          font-size: 15px;
          line-height: 20px;
         /* clear: both;
         display: block;*/
       }
       .programa {
        font-family: @font-sans;
        font-weight: @extrabold;
        color: @color;
        font-size: 12px;
        line-height: 22px;
        display: block;
      }

    }
    
    // programacio

    section.programacio { 

      .titol {
        position: relative;

        .navigation-owl {
          position: absolute;
          right: 0px;
          top: -5px;

          .left-arrow, .right-arrow {
            display: inline-block;
            margin-left: 5px;
            border: 1px solid #000;
            font-size: 14px;
            border-radius: 20px;
            width: 60px;
            text-align: center;
            height: 30px;
            padding-top: 4px;
            background: #000;
            color: #FFF;
          }
          
        }
        .navigation-owl.bottom {
          top: 20px;
        }

        hr {
          margin-top: 30px;
        }
         h3 {
          font-family: @font-sans;          
          font-size: 14px;
          text-transform: uppercase;
          font-weight: @regular;
          padding-bottom: 20px;
          padding-top: 6px;
        }
      }

      .owl-buttons .owl-next {
          position: absolute;
          top: 50%;
          margin-top: -5px;
          right: -60px;
          font-size: 50px;
      }
       .owl-buttons .owl-prev {
          position: absolute;
          top: 50%;
          margin-top: -5px;
          left: -60px;
          font-size: 50px;
      }

      .border {
        background-color: #fdfdfd;

        h1 {
          .icon9fm-waves {
            float: right;
            font-size: 28px;
            margin-right: 5px;
          }
        }
        .data {
          display: inline;
        }

        h3 {
          background-color: #e9e9ea;
          font-family: @font-sans;
          font-weight: @extrabold;
          font-size: 15px;
          line-height: 20px;        
          padding: 20px;

          span {
            font-size: 15px;
            font-family: @font-sans;
            font-weight: @light;
            display: block;
          }
        }

        .hora-programa {
          font-family: 'Open Sans',sans-serif;
          font-weight: @extrabold;
          color: #000;
          font-size: 15px;
          line-height: 20px;
        }
        
      }
      
    .element {
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 15px;
      margin-bottom: 25px;
      min-height: 100px;
      position: relative;

      .sharer {
          position: absolute;
          right: 0px;
          bottom: 15px;
          color: #666;

          a {
            display: inline-block;
            color: #666;
          }

          .icon9fm-download {
              font-size: 18px;
          }
      }
    }

    }

  }

/*-------------- Desktop landscape ---------------*/
@media (min-width: 1200px) {

    body.el9fm .col-md-9 {
        width: 75%;
    }
    body.el9fm .col-md-3 {
        width: 25%;
    }

}


/*-------------- Desktop potrait ----------------*/
@media (min-width: 980px) and (max-width: 1199px) {

    body.el9fm .col-md-9 {
        width: 75%;
    }
    body.el9fm .col-md-3 {
        width: 25%;
    }
}

/*--------------- Tablet ipad --------------------*/

@media (min-width: 980px) and (max-width: 1024px) {

}


/*--------------- Tablet ipad --------------------*/
@media (min-width: 768px) and (max-width: 979px) {

  body.el9fm section.audio-stream figure {
    min-height: 185px;
    position: relative;
  }
}


/*--------------- PHONE --------------------------*/
@media(max-width:767px) {

  body.el9fm section.audio-stream figure {
    min-height: 185px;
    position: relative;
  }

  header.el9fm .navbar-brand {
    width: 120px !important;
    padding-top: 26px !important;    
  }
  body.el9fm section.audio-destacats .audio header {
    width: 58%;
  }
  body.el9fm section.programacio .titol .navigation-owl .left-arrow, body.el9fm section.programacio .titol .navigation-owl .right-arrow {
    width: 40px;
  }
  body.el9fm section.audio-stream h1 {
    display: none;
  }

}