
.icon-actualitat:before { content: '\e835'; } /* '' */
.icon-politica:before { content: '\e836'; } /* '' */
.icon-economia:before { content: '\e837'; } /* '' */
.icon-societat:before { content: '\e838'; } /* '' */
.icon-cultura:before { content: '\e839'; } /* '' */
.icon-esports:before { content: '\e83a'; } /* '' */