
  /* //////////////////////////////////////////////////////////
  CSS HOME
  ////////////////////////////////////////////////////////// */

  body.home {

    main.home section.noticies-portada article.destacada header h2.is-home {
      margin-top: 0px;
    }  
    .topbar-wrapp {
      /*
      height: 50px;
      line-height: 50px;
      */
    } 
    .header-wrapp {
        position: relative;
        height: 110px;
    }
    header.header .hamburger {
      top: 46px;
    }
    header.header .search {
      top: 43px;
    }
    header.header .navbar-brand {
      width: 250px;
      padding-top: 35px;
    }
  }
      
  main.home {
        margin-top: 40px;
        margin-bottom: 60px;

        article {
          figure {
               /* img {
                  -webkit-transform: translateZ(0);
                  transform: translateZ(0);
                  transition: all 0.2s ease;
                  opacity: 1;                  
                }
                img:hover {
                  opacity: 0.75;
                }
                */
              }
        }

        .noticia-imatge article figure img {
            max-height: 275px; 
            width: auto;
            text-align: center;
            margin: auto;           
        }     
        .noticia-imatge article figure {
          
        }

        .video-hover {
            font-size: 90px;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -63px;            
            margin-top: -38px;
            width: 78px;
            height: 90px;
            opacity: 0.80;
          }

        .noticia-imatge article figure figcaption {
            font-size: 11px;
            color: #999;
            font-family: 'Open Sans',sans-serif;
            font-weight: 400;
            text-align: right;
            padding: 0px;
            display: inline-block;
            padding-left: 10px;
            padding-right: 0px;
            right: 0px;
            position: absolute;
            bottom: -20px;
        }         

        .bloc {
          margin-bottom: 40px;
        }

        section.noticies-portada {
       
            article.destacada {          

              header {         

                  h1 {
                    font-family: @font-sans;
                    font-weight: @extrabold;
                    font-size: 28px;
                    line-height: 30px;
                    color: @color-black;
                    margin-bottom: 30px;
                  }
                  h1:hover {
                      color: @color;
                  }
                  h2 {
                    font-family: @font-sans;
                    font-weight: @regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: @color;
                    margin-bottom: 0px;
                    margin-top: 15px;
                  }
                  p {
                    font-family: @font-serif;
                    font-weight: @regular;
                    font-size: 16px;
                    line-height: 22px;
                  }                  
              }           

            } // article.destacada

            // Noticia destacada titol i text + Imatge a la dreta
            article.destacada.not-full {
              margin-bottom: 40px;

              h1 {
                margin-bottom: 10px;
              }

              h2 {
                  margin-top: 0px;
              }
            }
            // Noticia destacada imatge amplada sencera
            .noticia.sencera {
              margin-bottom: 40px;

               p.sumari {
                padding-right: 10%;
               }
            }


            article {
              margin-bottom: 50px;               //50px

              h1 {
                    font-family: @font-sans;
                    font-weight: @extrabold;
                    font-size: 26px;
                    line-height: 30px;
                    color: @color-black;
                    margin-bottom: 10px;
                  }
              h1:hover {
                  color: @color;
              }
              h2 {
                    font-family: @font-sans;
                    font-weight: @regular;
                    font-size: 16px;
                    line-height: 24px;
                    color: @color;
                    margin-bottom: 0px;
                    margin-top: 15px;
                }
                p {
                    font-family: @font-serif;
                    font-weight: @regular;
                    font-size: 14px;
                    line-height: 22px;
                }
                p.sumari {
                    margin-bottom: 40px;
                  }

                figure {
                  background-color: #e2e2e2;
                  transition: all 0.2s ease;
                  opacity: 1;
                  position: relative;

                  figcaption {
                    font-size: 11px;
                    color: #999;
                    font-family: 'Open Sans',sans-serif;
                    font-weight: 400;
                    text-align: right;
                    padding: 0;
                    display: inline-block;
                    padding-left: 10px;
                    padding-right: 0;
                    right: 0;
                    position: absolute;
                    bottom: -20px;
                  }

                  .image-blank {
                    width: 100%; 
                    height: 255px; 
                    display: block;
                  }
                }

                figure:hover {
                  opacity: 0.75;
                }
                
            } // article

            .noticia.no-imatge {
              h2 {
                margin-top: 0px;
              }
               figure {
                  background-color: #FFF;
                }
            }

      } // #noticies-recents

      
    section.articles-petits {
            background-color: #e2e2e2;         
            overflow: hidden;
            margin-bottom: 40px;            

            h3 {
              background: #FFF;
              border-bottom: 2px solid @color;
              font-family: @font-sans;
              font-weight: @bold;
              font-size: 14px;
              text-transform: uppercase;
              color: @color;
              line-height: 35px;
            }

            a {
              color: @color-black;
              transition:all 0.2s ease;
            }

            a:hover {
              color: @color;
            }

            header {
              h1 {
                font-family: @font-sans;
                font-size: 30px;
                line-height: 32px;
                color: @color-black;
                font-weight: @extrabold;
              }
            }

            .item {
             // margin-bottom: 20px;
             // width: 33%;
            //  min-height: 320px;      
              border-right: 1px solid #FFF;    
              display: table-cell;

              figure {
                background-color: #e2e2e2;
                min-height: 190px;                
                text-align: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;

                img {
                  max-height:190px; 
                  /* // 100% */
                  width: auto;
                  text-align: center;
                  margin: auto;
                  -webkit-transform: translateZ(0);
                  transform: translateZ(0);
                  transition: all 0.2s ease;
                  opacity: 1;  
                }
                img:hover {
                  opacity: 0.75;
                }
              }

              h1 {
                font-family: @font-serif;
                font-weight: @bold;
                font-size: 16px;
                line-height: 22px;
                padding-top: 15px;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 15px; //10
              }
              p {
                font-family: @font-sans;
                font-weight: @regular;
                font-size: 13px;
                line-height: 20px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                margin-bottom: 0px;
              }
            }
            .item:last-child {
                border-right: none;
            }   
            .item.no-foto {
                min-height: 200px;    
                padding-bottom: 10px;
                display: table-cell;
            }
          }
          section.articles-compostos {
            background-color: @color;         
            overflow: hidden;
            margin-bottom: 40px;            

            h3 {
              background: #FFF;
              border-bottom: 2px solid @color;
              font-family: @font-sans;
              font-weight: @bold;
              font-size: 14px;
              text-transform: uppercase;
              color: @color;
              line-height: 35px;
            }

            a {
              color: @color-white;
              transition:all 0.2s ease;
            }

            a:hover {
              color: @color-white;
            }

            .item {
             // margin-bottom: 20px;
             // width: 33%;
              min-height: 250px;      
              border-right: 1px solid #FFF;    
              display: table-cell;

              figure {
                position: absolute;
                right: 0px;
                bottom: 30px;
                overflow: hidden;
                border-radius: 50%;
                height: 80px;
                width: 80px;

                img {
                  max-width: 80px;                 
                  height: auto;                  
                }
                
              }

              header {
                position:absolute;
                bottom: 20px;
                right: 20px;
                left: 15px;  
                color: @color-white;            

                h1 {
                  font-family: @font-sans;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 16px;
                  padding-top: 20px;
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-bottom: 0px;
                  text-transform: uppercase;
                }
                h2 {
                  font-size: 12px;
                  padding-left: 10px;
                  font-family: @font-sans;
                  font-weight: 400;
                  line-height: 15px;
                }
              }

              
              p {
                color: @color-white;
                font-family: @font-sans;
                font-weight: @regular;
                font-size: 13px;
                line-height: 20px;
                padding-left: 10px;
                padding-right: 40px;
                padding-bottom: 10px;
                margin-bottom: 0px;
                margin-top: 20px;

                span {
                  font-weight: @bold;
                  font-size: 11px;
                  line-height: 20px;
                }
              }
            }
            .item:last-child {
                border-right: none;
            }  
           

          }

  }

  main.home .bloc {
    overflow: auto !important;
  }

/*-------------- Desktop potrait ----------------*/

@media (min-width: 980px) and (max-width: 1199px) {


    main.home section.articles-compostos .item figure {
        position: absolute;
        right: 0px;
        bottom: 30px;
        overflow: hidden;
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }

}


 /*--------------- Tablet ipad --------------------*/

  @media (min-width: 768px) and (max-width: 991px) {
  
    main.home {
        margin-top: 40px; // 130px 180px;
        margin-bottom: 60px;
    }
  
  }

 /*--------------- Tablet ipad --------------------*/

@media (min-width: 768px) and (max-width: 979px) {

  main.home {
      margin-top: 40px; // 130px 180px;
      margin-bottom: 60px;
  }
  main.home section.noticies-portada .noticia.sencera {
      margin-bottom: 40px !important;
      display: block;
  }
  main.home section.noticies-portada article.destacada header h1 {
      font-size: 26px;
      line-height: 28px;
  }
  main.home section.noticies-portada article h1 {
      font-size: 22px;
      line-height: 24px;
  }
  main.home section.noticies-portada article.destacada.not-full {
   /*
    margin-bottom: 40px;
    background: #f2f2f2;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    */
  }

}


/*--------------- PHONE --------------------------*/
@media(max-width:767px) {

  ul.info-article li {
    display: none;
  }
  main.home section.noticies-portada article.destacada header h2 {
    margin-top: 0px;
  }
  main.home {
      margin-top: 20px; //140px; 90
      margin-bottom: 0px; //60
  }
  main.home section.noticies-portada .noticia.sencera {
      margin-bottom: 20px !important; // 40
      display: block;
  }
  main.home section.noticies-portada .noticia.sencera {
    p.sumari {
      margin-bottom: 0px;
    }
  }
  main.home section.noticies-portada .noticia {
    display: block;    
  }
  main.home section.noticies-portada article.destacada.not-full h2 {
    margin-top: 15px;
    font-size: 14px;
  }
  main.home .bloc {
    display: block !important;
    overflow: visible;
    margin-bottom: 0px;
  }
  main.home section.noticies-portada article p.sumari {
    margin-bottom: 20px;
    display: none;
  }
  main.home section.noticies-portada article {
    margin-bottom: 0px;
  }
  main.home section.noticies-portada article.destacada.not-full {
    margin-bottom: 0px;
  }
  main.home section.noticies-portada article.destacada ul.info-article {
    /*margin-top: 20px;*/
  }
  main.home section.noticies-portada article.destacada header h1 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px !important;
  }
  main.home section.noticies-portada article.destacada.not-full header h1 {
    margin-bottom: 0px !important;
  }
  main.home section.noticies-portada article h1 {
    font-size: 22px; // 24
    line-height: 24px; // 26
    margin-bottom: 0px;
  }
  main.home section.noticies-portada article h2 {
    font-size: 14px;
    line-height: 24px;
  }
  /*  
  main.home section.noticies-portada article.destacada p.sumari {
    margin-bottom: 0px;
  }
  main.home section.noticies-portada article.destacada .noticia {
    padding-bottom: 40px;
  }
  /*
  main.home section.noticies-portada article.destacada.not-full {
      margin-bottom: 0px;
  }
  main.home section.noticies-portada article {
      margin-bottom: 0px;
  }
  main.home section.noticies-portada article.destacada {
      padding-bottom: 40px;
  }
  main.home section.noticies-portada article.destacada .noticia {
      display: block;
      margin-bottom: 0px !important;
  }
  /* 40px */

  main.home section.noticies-portada .noticia.noticia-imatge figure {
    float: left;
    width: 30%;
    margin-bottom: 10px;
  }
  main.home section.noticies-portada .noticia.noticia-imatge header {
      width: 70%;
      float: left;
      padding-left: 20px;
  }
  main.home section.noticies-portada .noticia.noticia-imatge header {
    h1 {
      font-size: 16px;
      line-height: 18px;
    }
    h2 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 0px;
    }    
  }
  ul.info-article {
      display: inline-block;
      width: 100%;
  }
  main.home section.noticies-portada article figure figcaption {
    display: none;
  }
  main.home section.noticies-portada .noticia.noticia-imatge ul.info-article {
    padding-bottom: 0px;
    margin-top: 0px;
  }
  main.home section.noticies-portada .noticia.noticia-imatge ul.info-article li {
    display: none;
  }
  main.home section.noticies-portada .noticia.noticia-imatge ul.info-article li.author a, main.home section.noticies-portada .noticia.noticia-imatge ul.info-article li.sharer {
    display: none;
  }
  main.home section.noticies-portada .noticia.noticia-imatge header h1  {
    margin-bottom: 0px;
  }
  main.home section.noticies-portada .noticia.noticia-imatge{
    margin-bottom: 40px;
  }
  main.home section.noticies-portada .noticia.no-imatge{
    // margin-bottom: 40px;
      margin-bottom: 20px !important;
      margin-top: -5px;
  }
  main.home .video-hover {
      font-size: 45px;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -32px;
      margin-top: -19px;
      width: 84px;
      height: 70px;
      opacity: .8;
  }
  main.home section.articles-petits {
    //display: none;
  }
  main.home section.articles-petits .item {
    width: 100%;
    min-height: 20px;
    padding-bottom: 20px;
  }
  main.home section.articles-petits .item h1 {
    padding-left: 0px;
    padding-top: 25px;
  }
  main.home section.articles-petits .item p {
    padding-left: 0px;   
    padding-bottom: 20px;
  }
  main.home section.articles-petits .item.no-foto {
    min-height: 120px; 
    border-bottom: 1px solid #fff;
    padding-bottom: 0px;
  }
  main.home section.articles-compostos .item {
        min-height: 250px;
        border-right: 1px solid #FFF;
        display: table-cell;
        border: none;
        border-bottom: 20px solid #FFF;
        /* margin-bottom: 20px; */
    }
  main.home section.articles-petits h3 {
      line-height: 15px;
      padding-bottom: 10px;
  }
  main.home section.articles-petits {
      margin-bottom: 20px; //20
  }

  main.home section.articles-petits .item.article-imatge figure {
      background-color: #e2e2e2;
      min-height: 90px;
      text-align: center;
      background-size: cover;
      display: inline-block;
      // width: 90px;
      width: 33%;
  }
  main.home section.articles-petits .item.article-imatge h1 {
      width: 75%;
      display: inline-block;
      padding: 0;
      margin: 0;
      padding-left: 35px; // 25px
      padding-top: 10px;
      vertical-align: top;
      font-size: 12px;
      line-height: 18px;
  }
  main.home section.articles-petits .item.article-imatge {
      width: 100%;
      min-height: 0px;
      padding-bottom: 0px;
      border-bottom: 1px solid #999;
  }
  main.home section.articles-petits .item.article-imatge a {
    display: flex;
  }
  
}
      