
  /* //////////////////////////////////////////////////////////
  CSS AUTHOR
  ////////////////////////////////////////////////////////// */
      
  main.author {
        margin-top: 40px;

        .bloc {
          margin-bottom: 60px;
        }
        .author-content {
          margin-bottom: 60px;
          overflow: hidden;

          header {  
            h1 {
              font-family: @font-sans;
              font-weight: @extrabold;
              font-size: 18px;
              line-height: 24px;
              color:@color-black;
              margin-bottom: 20px;
            }
            h1:hover {
              color: @color;
            }
          } 
          p {
            font-family: @font-serif;
            font-weight: @regular;
            font-size: 13px;
            line-height: 20px;
          }    
          .socials {
            h2 {
              font-size: 13px;
              font-family:  @font-sans;
              font-weight: @extrabold;
              margin-bottom: 20px;
              margin-top: 7px;
            }         
            a {
              color: @color;
            }
              i {
                color: @color;
                font-size: 28px;
              }
              i:before {
                margin: 0px;
              }
          }

        } // author-content

         h3 {
            margin-bottom: 40px;
            border-bottom: 1px solid @color-line;
            font-family:  @font-sans;
            font-weight: @bold;
            font-size: 14px;
            text-transform: uppercase;
            color: @color;
            //line-height: 35px;
            line-height: 20px;
            padding-bottom: 10px;
            overflow: hidden;
          }
        
  }          




      