
/* ==========================================================================
   Typography Variables & Colors Variables
   ========================================================================== */
//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

// @font-serif: 'Merriweather', serif;
@font-serif: 'Droid Serif', serif;
@font-sans: 'Open Sans', sans-serif;

@light: 300;
@regular: 400;
@semibold: 600;
@bold: 700;
@extrabold: 800;

@color: #c4003e;
@color-valles: #008c6e;
@color-grey-f: #333333;
@color-grey: #666666;
@color-grey-w: #808080;
@color-line: #ddd; //b2b2b2 // e2e2e2
@color-9tv: #262626;
@color-black: #000000;
@color-white: #FFFFFF;

/* ==========================================================================
   Import Less + Css librarys
   ========================================================================== */
@import (less) "components/reset.css";
@import (less) "libs/hamburgers.min.css";
@import (less) "libs/superfish/superfish.css";
@import (less) "libs/fontello/9fm.css";
@import (less) "libs/fontello/9nou-icons.css";
@import (less) "libs/fontello/9nou.css";
@import 'libs/bootstrap/bootstrap.less';
@import (less) "libs/bootstrap-select/bootstrap-select.css";
//@import (less) "libs/fancy-scroll/fancy-scroll.css";
//@import (less) "libs/owl.carousel/owl.carousel.css";
//@import (less) "libs/royalslider/royalslider.css";
//@import (less) "libs/royalslider/skins/default/rs-default.css";
@import 'components/layout.less';
@import 'home/index.less';
@import 'fitxa/index.less';
@import 'categoria/index.less';
@import 'author/index.less';
@import 'el9tv/index.less';
@import 'el9fm/index.less';
@import 'search/index.less';
@import 'forms/index.less';
@import 'legals/index.less';