
  /* //////////////////////////////////////////////////////////
      CSS EL9TV
      ////////////////////////////////////////////////////////// */


      body.el9tv {
        .topbar-wrapp {
          background-color: #000;
        }
        .topbar-wrapp ul.corporative li:before, .topbar-wrapp ul.user li:before {
          color: #999;
        }
        main {
          margin-bottom: 100px;
        }
        .smaller {
          background: #262626;
          border-bottom-color: #262626;
          z-index: 91;

          .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #FFF;
          }
          .search-btn {
            color: #FFF;
          }
        }
        .smaller .navbar-brand {
          width: 85px;
        }
      }

      header.el9tv {
        background: #262626;
        height: 160px;

        .header-wrapp {
          height: 110px;
        }
        .hamburger {      
          top: 45px;
        }
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          background-color: #FFF;
        }
        .search-btn {
          top: 42px;   
        }
        .navbar-brand {
          width: 150px;
        }

        nav {
          border: none;
          background-color: transparent;

          ul li {
            background: #000;
            color: #fff;
            border-right: 1px solid #FFF;

            a {
              font-size: 13px;
              color: #fff;
              display: block;
              line-height: 49px;
            }  
          }  

          ul li:before {
            padding: 0;
            margin: 0;
            border: none;
          }
          ul li:after {
            padding: 0;
            margin: 0;
            border: none;
          }
          ul li:last-child {
            border: none; 
          }
          ul li:last-child:after {
            content: "";
            border-right: none;
          }
        }  

        .search-btn {
          color: #fff;
        }
      }

      /* VIDOE STREAM */

      section.video-stream {
        background: #000;
        margin-bottom: 50px;

        h1 {
          min-height: 150px;
          line-height: 150px;
          color: #FFF;
          text-align: center;
          font-family: @font-sans;
          font-weight: @extrabold;
        }

        .bloc {
          background-color: @color-9tv;
          display: block !important;
        }
        .video {
          position: absolute;
          z-index: 9;
        }
        .video-capt {
          position: relative;
          z-index: 9;
        }
        .info-video {
          background-color: @color-9tv;    
          padding: 30px;
          padding-top: 25px;
          min-height: 475px;

          h1 {
            font-family: @font-sans;
            font-weight: @extrabold;
            color: #FFF;
            font-size: 36px;
            line-height: 38px;
            text-align: left;
            min-height: auto;
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 25px;
            margin-bottom: 20px;
          }
          span.hora, span.programa {
            font-family: @font-sans;
            font-weight: @extrabold;
            color: @color;
            font-size: 18px;  // 36px;
            line-height: 20px; // 38
            margin-top: 0px; // 40px;
            margin-bottom: 10px;
            display: block;
          }
          p {
            font-size: 14px;
            line-height: 20px;
            color: #FFF;
            font-family: @font-serif;
           /* border-top: 1px solid #e2e2e2;
            margin-top: 25px; 
            padding-top: 20px; 
            */

            a {
              font-family: @font-sans;
              font-weight: @bold;
              color: #FFF;

              .title {
                font-family: @font-sans;
                font-weight: @extrabold;
                text-decoration: none;
                font-size: 16px;
                line-height: 20px;
              }
              .programa {
                font-family: @font-sans;
                font-weight: @extrabold;
                color: #c4003e;
                font-size: 14px;
                line-height: 20px;
              }
            }
          }    
          .info-article {
            right: 30px;
            left: 30px;
            bottom: 45px;
            padding-bottom: 0px;
            color: #FFF;

            li i {
              color: #FFF;   
              margin-left: 0px;      
              /* 10px; */
            }
            li.compartir {
              cursor: text;
              position: absolute;
              left: 0px;
              margin-left: 0px;
              color: #FFF;
              margin-top: 10px;
              font-size: 12px;
            }
            li.sharer {
              color: #FFF;                   
              margin-top: 10px;          
              font-size: 13px;
            }

          }
        }
        .info-video.single-video {
          min-height: 427px;

          h1 {
            font-size: 30px;
            line-height: 32px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
            color: #FFF;
            font-family: @font-serif;
           /* border-top: 1px solid #e2e2e2;*/
           /*  margin-top: 25px;
            padding-top: 20px; */
          }

        }

      }


      /* HOME VIDEOS DESTACATS + PROGRAMACió + A LA CARTA */

      section.programacio {
        h1 {
          font-family: @font-sans;
          font-weight: @bold;
          background: @color-9tv;
          color: #FFF;
          font-size: 15px;
          line-height: 24px;
          text-transform: uppercase;
          height: 40px;
          line-height: 40px;
          padding-left: 20px;
        }
      /*  p {
          padding: 20px;
        }
      */
      }

      section.videos-destacats, section.programacio, section.a-la-carta, section.llistat-videos, .videos-relacionats {
        position: relative;

        .next-posts-link {
            float: right;
            clear: both;
        }
        
        .prev-posts-link {
            float: left;
            clear: both;
          }

        .next-posts-link, .prev-posts-link {

          a {
            margin-left: 15px;
            margin-right: 15px;
            background-color: #000;
            color: #fff;
            width: 130px;
            display: block;
            text-align: center;
            border-radius: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
          }
        }

        .video-element {
          min-height: 200px;
        }
        article {
          margin-bottom: 0px; /*10*/
        }     

        h2 {
          font-family: @font-sans;
          font-weight: @extrabold;
          color: #000;
          font-size: 18px;
          line-height: 30px;
          border-bottom: 1px solid #e2e2e2;
          padding-bottom: 5px;
          margin-bottom: 20px;

          span {
            display: block;
            position: absolute;
            top: 5px;
            right: 15px;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 24px;
            font-weight: @light;

            a.all {
              color: #000;
              font-size: 13px;
              line-height: 24px;
              font-weight: @light;
            }

          }
        }

        .titol {
          position: relative;

          .navigation-owl {
            position: absolute;
            right: 0px;
            top: -5px;

            .left-arrow, .right-arrow {
              display: inline-block;
              margin-left: 5px;
              border: 1px solid #000;
              font-size: 14px;
              border-radius: 20px;
              width: 60px;
              text-align: center;
              height: 30px;
              padding-top: 4px;
              background: #000;
              color: #FFF;
            }
            
          }
          .navigation-owl.bottom {
            top: 20px;
          }

          hr {
            margin-top: 30px;
          }

          h3 {
            font-family: @font-sans;          
            font-size: 14px;
            text-transform: uppercase;
            font-weight: @regular;
            padding-bottom: 20px;
            padding-top: 6px;
          }
        }

        .bg-capt {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .programa { 
         figure {
          position: relative;         
        }
        h1 {
         font-family: @font-sans;
         font-weight: @bold;
         background: @color-9tv;
         margin-bottom: 30px;
       }        
       h1.titol {
        color: #000;
        font-weight: @extrabold;
        font-family: @font-sans;
        font-size: 16px;
        line-height: 20px;
        background: transparent;
        padding: 0;
        margin: 0;
        text-transform: none;
        /*  margin-top: 10px;*/
        margin-bottom: 0px;
        height: inherit;
      }       
    }

    .mb {
      margin-bottom: 30px;
    }

    .video {
      border: 1px solid #e2e2e2;
      min-height: 335px;

      header {
        padding: 10px;     
      //  min-height: 120px;
      }
    }

    .video-element {
      min-height: 320px; // 220
      margin-bottom: 30px;        

      header {
        vertical-align: -webkit-baseline-middle;          
        padding: 10px;
        min-height: 170px;
        border: 1px solid #e2e2e2;
      }
    }    

    figure {
      background: rgb(0,0,0);
      position: relative;
      transition:all 0.2s ease;

      .play {
        position: absolute;
        z-index: 9;
        left: 50%;
        top: 50%;
        color: #FFF;
        opacity: 0.85;
        font-size: 70px;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition:all 0.4s ease;
      }
      .play-small {
        position: absolute;
        z-index: 9;
        left: 50%;
        top: 50%;
        color: #FFF;
        opacity: 0.85;
        font-size: 55px;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition:all 0.4s ease;
      }
      .durada {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: #000;
        color: #FFF;
        font-family: @font-sans;
        font-weight: @regular;
        font-size: 11px;
        text-align: center;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    figure:hover .play, figure:hover .play-small {
      color: #c4003e;
    }

    .data {
      font-family: @font-sans;     
      font-weight: @light;   
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 5px;
      display: block;
    }
    .titol-programa {
      font-family: @font-sans;
      font-weight: @extrabold;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      clear: both;
      display: block;
    }
    a {
      font-family: @font-sans;
      font-weight: @extrabold;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      clear: both;
      display: block;
    }
    .programa {
      font-family: @font-sans;
      font-weight: @bold;
      color: @color;
      font-size: 13px;
      line-height: 18px;
      margin-top: 5px;
      display: block;
    }

    .border {
      border-left: 1px solid #e2e2e2;
      border-bottom:  1px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      overflow: hidden;

      .hora-programa {
        margin: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;
      }

      .hora-programa:last-child {
        border: none;
      }
    }
    .border-left {
      border-left: 1px solid #e2e2e2;
    }

    .owl-buttons .owl-next {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: -100px;
      font-size: 50px;
      z-index: 9999;
    }
    .owl-buttons .owl-prev {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: -100px;
      font-size: 50px;
      z-index: 9999;
    }
    .owl-carousel .owl-wrapper-outer {
            // overflow: visible;
          }       
        }

        /* ////////////////// A LA CARTA ////////////////////// */

        .destacat-one {
          margin-top: 0px !important;

          header {
            border: 1px solid #e2e2e2;
            padding: 10px;          
            min-height: 115px !important;
          }   
        }

        .destacats-small {
          margin-top: 0px !important
        }

        section.llistat-videos, .destacats-small, .destacat-one {
          margin-top: 40px;

          ul.program-list {
            font-family: @font-sans;
            font-weight:@bold;         
            list-style: none;

            li {
             background: @color;

             a {
              color: #FFF;
              display: block;
              //line-height: 50px;
              margin-bottom: 1px;
              padding-left: 15px;
              font-weight: 600;
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }

      section.llistat-videos {
        margin-top: 0px;
      }

    section.programacio {

        a {
          font-family: @font-sans;
          font-weight: @extrabold;
          text-decoration: none;
          color: #000;
          font-size: 16px;
          line-height: 20px;
          clear: both;
          display: block;
         // text-decoration: underline;

          .data {
            text-decoration: none !important;
          }
          .title {
            text-decoration: underline;
          }
          .programa {
             text-decoration: none !important;
          }
        }

        a:hover {
          text-decoration: none;
        }

    }

      /* ///////////// PROGRAMA FITXA ///////////////// */

      .programa-fitxa {
        margin-top: 60px;

        h1 {          
          font-size: 36px;
          font-family: @font-sans;
          font-weight: @extrabold;
          margin-bottom: 25px;
        }
        p {
          font-size: 14px;
          line-height: 24px;

          a {
            color: #000;
            text-decoration: underline;
          }

        }

        ul.compartir {
          list-style: none;
          border-top: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
          min-height: 40px;
          line-height: 40px;
          margin-bottom: 40px;

          li {
            display: inline-block;
            font-size: 13px;
            color: #808080;
            font-weight: 400;
            a {
              font-size: 15px;
              color: #808080;
              font-weight: 400;
            }
          }
          li:after {
            content: "";
            border-left: 1px solid #dddddd;
            margin-left: 15px;
            margin-right: 10px;
          }
          li:first-child:after {
            margin-left: 10px;
            margin-right: 0px;
            content: "";
            border: none;
          }
          li:nth-child(2):before {
            content: "";
            border-left: 1px solid #dddddd;
            margin-right: 15px;
          }
        }

        .videos-relacionats {
            h2 {
              font-family: 'Open Sans', sans-serif;
              font-weight: 800;
              color: #000;
              font-size: 18px;
              line-height: 30px;
              border-bottom: 1px solid #e2e2e2;
              padding-bottom: 5px;
              margin-bottom: 20px;
              margin-top: 50px;
          }
       }
      }


    /*  .a-la-carta.videos-destacats {
        background: #f2f2f2;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 40px;
      }

      .video-stream.margin-no {
        margin-bottom: 0px;
      }
    
    */

      /* ///// MEDIA QUERIES ///// */


      /*-------------- Desktop landscape ---------------*/

      @media (min-width: 1200px) {
        
        body.el9tv .col-md-9 {
            width: 75%;
        }
        body.el9tv .col-md-3 {
            width: 25%;
        }

      }



      /*-------------- Desktop potrait ----------------*/

      @media (min-width: 980px) and (max-width: 1199px) {

        body.el9tv .col-md-9 {
            width: 75%;
        }
        body.el9tv .col-md-3 {
            width: 25%;
        }

      }
      
      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 980px) and (max-width: 1024px) {

        section.programacio h2 span a.all {
            font-size: 12px;
        }
        section.video-stream .video {
          height: 352px !important;
        }
        section.video-stream .info-video {
          min-height: 350px;
        }
        section.video-stream .info-video h1 {
          font-size: 30px;
          line-height: 34px;
        }       
        section.video-stream .version-vertical {
          display: none;
        }

      }


      /*--------------- Tablet ipad --------------------*/

      @media (min-width: 768px) and (max-width: 979px) {
        
        section.video-stream .bloc {
          //display: none !important;
        }
        section.video-stream .video, .content-video {
          height: 407px;
          border-bottom: 2px solid #e0e0e0 !important;
        }
        section.video-stream {
       //   margin-bottom: 470px;
        }
        section.videos-destacats {
          margin-bottom: 30px;
        }
        section.videos-destacats .programa.destacat-one {
          margin-bottom: 30px;
        }
        section.a-la-carta h2, section.llistat-videos .llistat-programes {
          margin-top: 30px;
        }
        section.llistat-videos {
          margin-top: 0px;
        }
        section.a-la-carta h2 {
          margin-top: 0px;
        }
        section.video-stream .info-video, section.video-stream .info-video.single-video {
            min-height: 315px;
        }
        section.video-stream .info-video h1 {

        }

      }


      /*--------------- PHONE --------------------------*/
      @media(max-width:767px) {
         section.video-stream {
          padding-top: 20px;
         }        
        header.el9tv nav {       
        }
        header.el9tv {      
          height: 60px !important;    
          border-bottom: none;
        }
        header.el9tv nav ul li:before {
          border: none;
        }
        header.el9tv nav ul li {
          border: none;
          border-bottom: 1px solid #FFF;
        }
        header.el9tv nav ul li:last-child {
          border-bottom: 1px solid #FFF;
        }

        header.el9tv .header-wrapp {
            height: 60px !important; // 80
        }
        header.el9tv .navbar-brand {
            width: 90px !important;
            padding-top: 16px !important;
        }   
        header.el9tv .hamburger {
          top: 21px !important;
        }
        header.el9tv .search-btn {
            top: 17px !important;
        }

        section.video-stream .bloc {
          //display: none !important;
        }
        section.video-stream .video {
          height: 196px;
          border-bottom: 2px solid #e0e0e0 !important;
        }
        section.video-stream .content-video {
          height: 196px;
        }
        section.video-stream {
       //   margin-bottom: 470px;
        }
        section.videos-destacats {
          margin-bottom: 30px;
        }
        section.videos-destacats .programa.destacat-one {
          margin-bottom: 30px;
        }
        section.a-la-carta h2, section.llistat-videos .llistat-programes {
          margin-top: 30px;
        }
        section.llistat-videos {
          margin-top: 0px;
        }
        section.a-la-carta h2 {
          margin-top: 0px;
        }
        section.video-stream .info-video, section.video-stream .info-video.single-video {
          min-height:165px;  // 315
          padding-bottom: 50px;
        }
        section.programacio .titol .navigation-owl .right-arrow, section.a-la-carta .titol .navigation-owl .right-arrow, section.programacio .titol .navigation-owl .left-arrow, section.a-la-carta .titol .navigation-owl .left-arrow {
          width: 40px;
        }
        section.videos-destacats .titol .navigation-owl, section.programacio .titol .navigation-owl, section.a-la-carta .titol .navigation-owl, section.llistat-videos .titol .navigation-owl {
          top: 0px;
        }
        section.programacio .titol h3 {
          width: 60%;
        }
        section.video-stream .info-video h1,  section.video-stream .info-video.single-video h1 {
            font-size: 26px;
            line-height: 28px;
        }
        section.video-stream .info-video .info-article {
          right: 30px;
          left: 30px;
          bottom: 40px;
          padding-bottom: 0px;
          color: #fff;
          position: absolute;
        }
        section.video-stream {
            padding-top: 0px;
        }
        section.video-stream h1 {
          //display: none;
        }
        section.videos-destacats {
            // display: none;
        }

      }

      
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

  section.video-stream .content-video,  section.video-stream .video {
    height: 325px;
  }
}