
/* //////////////////////////////////////////////////////////
    CSS NOTICIA
////////////////////////////////////////////////////////// */
    
    main.fitxa {
      margin-top: 40px;

      article {
        margin-bottom: 0px;

        header {         

          h1 {
            font-family: @font-sans;
            font-weight: @extrabold;
            font-size: 36px;
            line-height: 38px;
            color: @color-black;
            margin-bottom: 10px;
          }
          h2 {
            font-family: @font-sans;
            font-weight: @light;
            font-size: 16px;
            line-height: 24px;
            color: @color;
            margin-bottom: 10px;
          }
          p {
            font-family: @font-serif;
            font-weight: @light;
            font-size: 18px;
            line-height: 26px;
          }

        }

        .content {

          .video-news {
            width:100%;
            height:500px;
          }

          ul.information-article {
            margin-top: 30px;
            margin-bottom: 15px;

            li {
              display: inline-block;
              color: @color-grey-w;
              font-size: 13px;
              font-family: @font-sans;
              font-weight: @light;
              margin-right: 10px;

              a {
                color: #333;
              }

              i {
                color: #333333;
              }
              span {
                color: #333333;
              }

            }
          }

          figure {
            position: relative;

            i.icon-play {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 90px;
              color: #FFF;
              margin-top: -12px;
            }
            
            figcaption {
              font-family: @font-sans;
              font-size: 13px;
              font-style: italic;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
              line-height: 20px;              
              color: #333333;
              border-bottom: 1px solid @color-line;

              span {
                color: @color-grey-w;
              }
            }
          }

          section.article-body {
            margin-top: 20px; //40

            img {
              max-width: 100% !important;
              height: auto;
            }

            .wp-caption {
              width: 100% !important;
            }

            .aside-article-body {
              margin-top: 15px;
            }

            h2 {
              font-family: @font-sans;
              font-weight: @extrabold;
              font-size: 22px;
              line-height: 22px;
              color: #000;
              margin-bottom: 30px;
            }

            p {
              font-size: 14px;
              line-height: 26px;

              a {
                //border-bottom: 1px solid #000;
                text-decoration: underline;
                transition:all 0.2s ease;
              }
              a:hover {
                color: #333;
                text-decoration: underline;
              }

              img {
                max-width: 100% !important;
                height: auto;
                margin-top: 20px;
                margin-bottom: 20px;
              }

              strong {
                font-weight: @bold;
              }
            }

            blockquote {
              margin-top: 20px;

              p {
                font-family: @font-sans;
                font-weight: @bold;
                font-size: 16px;
              }
            }

            .tags {
              margin-top: 40px;
              margin-bottom: 40px;

              span {
                display: inline-block;
                background-color: #e9e9ea;
                padding: 10px;
                padding-right: 15px;
                padding-left: 15px;
                font-size: 12px;
                margin-right: 5px;
                margin-bottom: 10px;
                border-radius: 5px;
                transition:all 0.2s ease;
              }

              a {
                color: @color-black;
                transition:all 0.2s ease;
              }

              a:hover span {
                color: #FFF;
                background-color: @color;
              }
            }

             .aside-article-body {
                figure {
                  figcaption {
                    border: none;
                  }
                }
             }

            .download-element {
              margin-top: 30px;
              border-top: 1px solid @color-line;
              padding-top: 20px;

              i {
                color: @color;
                font-size: 30px;
                line-height: 45px;
                text-align: center;
                height: 50px;
                width: 50px;
                border: 1px solid @color;
                border-radius: 50%;
                float: left;
                margin-right: 10px;
              }
              p {
                font-family: @font-sans;
                font-size: 12px;
                line-height: 18px;
                font-weight: @regular;
                float: left;
                width: 75%;

                strong {
                  font-weight: @bold;
                }
              }
            }
          }
          
          section.related-articles {
            border-top: 1px solid #e2e2e2;
            padding-top: 40px;
            padding-bottom: 40px;

            a {
              color: @color-black;
              transition:all 0.2s ease;
            }

            a:hover {
              color: @color;
            }

            header {
              h1 {
                font-family: @font-sans;
                font-size: 30px;
                line-height: 32px;
                color: @color-black;
                font-weight: @extrabold;
              }
            }

            .articles-petits {
                overflow: hidden;
                margin-bottom: 60px;

                h3 {
                  border-bottom: 2px solid @color;
                  font-family: @font-sans;
                  font-weight: @bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: @color;
                  line-height: 35px;
                }
                figure {
                    background: #e2e2e2;
                    border-right: 2px solid #FFF;   
                    min-height: 190px;                
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;                 

                    img {
                      width: auto;
                      max-height: 190px;
                      margin: auto;
                      display: block;
                      vertical-align: bottom;
                    }
                }
                .item-related {
                    figure {
                      background: #e2e2e2;
                      border-right: 2px solid #FFF;   
                      min-height: inherit;
                      max-height: 140px;
                      overflow: hidden;
                      -webkit-background-size: cover;
                      -moz-background-size: cover;
                      -o-background-size: cover;
                      background-size: cover;                 

                      img {
                        width: auto;
                        max-height: 190px;
                        margin: auto;
                        display: block;
                        vertical-align: bottom;
                      }
                  }
                }
              }
               
            .item {
              background-color: #e2e2e2;
              margin-bottom: 20px;
              min-height: 320px;      
              border-right: 1px solid #FFF;       

              h1 {
                font-family: @font-serif;
                font-weight: @bold;
                font-size: 16px;
                line-height: 22px;
                padding-top: 15px;
                padding-left: 0px;
                padding-right: 10px;
              }
            }

            .item-related {
              min-height: 100px;
              background-color: #e2e2e2;
              border-bottom: 1px solid #FFFFFF;

              span.data {
                font-family: @font-sans;
                font-size: 14px;
                line-height: 18px;
                padding-top: 15px;
                padding-left: 0px;
                padding-right: 10px;
                margin-bottom: 5px;
                display: block;                
              }

              h1 {
                font-family: @font-serif;
                font-weight: @bold;
                font-size: 16px;
                line-height: 22px;               
                padding-left: 0px;
                padding-right: 10px;    
                margin-bottom: 30px;           
              }
            }

            .item.border {
               border-left: 1px solid #FFF;
            }           

          }

          section.comments {
            border-top: 1px solid #e2e2e2;
            padding-top: 40px;
            padding-bottom: 60px;

            .formulari {
              margin-bottom: 30px;
            }

            header {
              h1 {
                font-family: @font-sans;
                font-size: 30px;
                line-height: 32px;
                color: @color-black;
                font-weight: @extrabold;
              }
            }

            .comment-form {
              margin-bottom: 40px;

              .logged-in-as {
                margin-top: 15px;
                text-align: left;
                margin-bottom: 30px;
              }

              .form-box {
                background-color: #FFF; //f7f7f7
                padding: 0px; //25px;
              }             

              input {
                font-family: @font-serif;
                font-weight: @light;
                font-size: 13px;
                font-style: italic;
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none; 
                border: 1px solid #e2e2e2;  //bottom
                padding: 10px; //top
                margin-bottom: 10px;
              }
              textarea {
                font-family: @font-serif;
                font-weight: @light;
                font-size: 13px;
                font-style: italic;
                width: 100%;
                height: 100px;
                background-color: transparent;
                border: none; 
                border: 1px solid #e2e2e2; //bottom
                padding: 10px; // top
              }
              .send {
                font-family: @font-sans;
                text-transform: uppercase;
                width: 33%;
                background-color: @color-black;
                color: #FFF;
                text-transform: uppercase;
                text-align: center;
                margin-top: 20px;
                float: left;
              }
            }

            
            h3#comments {
              margin-top: 65px;
              font-size: 16px;
              text-align: center;
              border-top: 1px solid #e2e2e2;
              padding-top: 30px;
            }

            .comment {
              font-family: @font-sans;
              font-weight: @regular;
             /* border-top: 1px solid #e2e2e2;*/
              padding-top: 0px;
              padding-bottom: 20px;

              hr {
                margin-top: 30px;
                margin-bottom: 30px;
              }

              .icon-nickname {
                font-size: 80px;
                color: #333;
                position: absolute;
                left: 10px;
              }
              .icon-nickname:before {
                margin: 0;
              }
              .nickname {
                font-family: @font-sans;
                font-weight: @regular;
                font-size: 15px;
                line-height: 20px;
                margin-top: 20px;
                margin-left: 85px;

                span {
                  font-weight: @bold;
                }
              }

              p {
                font-family: @font-sans;
                font-size: 15px;
                line-height: 20px;
                padding-top: 20px;
                font-weight: 400;
              }

              ul.actions {
                list-style: none;
                margin-top: 20px;

                li {
                  display: inline-block;

                  a {
                    color: @color-grey-w;
                  }
                }
                li:after {
                  content: "|";
                  margin-right: 5px;
                  margin-left: 5px;
                }
                li:last-child:after {
                  content: "";
                  margin: 0;
                }
              }

            }
          }
        }
      }
    }    
    
    .owl-carousel-noticia {

      figure {
        .item {
          /*height: 530px;
          overflow: hidden;*/
          background: #f2f2f2;

          img {
            max-height: 530px; 
            width: auto;
            margin: auto;
            display: block;
          }
        }
      }
    }

    .owl-carousel-noticia .owl-buttons {
      //font-size: 60px;
    }
    .owl-carousel-noticia i {
      //text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
      font-size: 30px;
      line-height: 40px;
      color: #FFF;
    }
    .owl-carousel-noticia .owl-prev {
      position: absolute;
      bottom: 41px;
      right: 42px;
      background: rgba(0,0,0,0.80);
        width: 40px;
        height: 40px;
        text-align: center;
        padding-right: 2px;
    }
    .owl-carousel-noticia .owl-next {
      position: absolute;
        bottom: 41px;    
        right: 0px;
        background: rgba(0,0,0,0.80);
        width: 40px;   
        height: 40px;
        text-align: center;
        padding-left: 3px;
    }
    .owl-item figcaption span, .owl-item figcaption span p {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
    }


.marge {
  margin-top: 10px;
}



/*-------------- Desktop landscape ---------------*/

@media (min-width: 1200px) {

}


/*-------------- Desktop potrait ----------------*/

@media (min-width: 980px) and (max-width: 1199px) {

  .owl-carousel-noticia figure .item img {
    max-height: 436px;
  }

}

 /*--------------- Tablet ipad --------------------*/

@media (min-width: 768px) and (max-width: 979px) {
  
   main.fitxa article .content .video-news {
        width: 100%;
        height:450px;
    }
    
    .owl-carousel-noticia figure .item img {
      max-height: 476px;
    }
}

 /*--------------- Tablet ipad --------------------*/

@media (min-width: 640px) and (max-width: 767px) {
  
     main.fitxa article .content .video-news {
        width: 100%;
        height:375px;
    }

    .owl-carousel-noticia figure .item img {
      max-height: 383px;
    }

}


/*--------------- PHONE --------------------------*/
@media(max-width:767px) {


  .owl-carousel-noticia figure .item img {
      max-height: 248px;
    }

  main.fitxa {
    margin-top: 20px;
  }

  main.fitxa article header h1 {
    font-size: 24px;
    line-height: 26px;
  }
  main.fitxa article header p {
    font-size: 16px;
    line-height: 24px;
  }   
  main.fitxa article .content ul.information-article {
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 24px;    
  }
  main.fitxa article .content figure figcaption {
    font-weight: @regular;
  }
  main.fitxa article .content section.comments .comment .nickname {
    margin-bottom: 15px;
  }
  main.fitxa article .content section.comments .comment ul.actions {
    margin-top: 10px;
  }
  main.fitxa article .content section.related-articles .item-related h1 {
    margin-bottom: 40px;
    padding-left: 0px;
  }
  main.fitxa article .content section.related-articles .item-related span.data {
    padding-left: 0px;
  }
  main.fitxa article .content section.comments .comment-form .send {
    margin-bottom: 0;
    font-style: normal;
    width: 100%;
    margin-top: 0px;
  }
  main.fitxa article .owl-buttons {
    display: none;
  }
  .fitxa-content ul.compartir {
    margin-bottom: 20px;
  }
  main.fitxa article .content section.related-articles .item {
    min-height: 120px;
    padding-bottom: 20px;
  }

  main.fitxa article .content section.related-articles .articles-petits figure {
    background-color: #e2e2e2;
    min-height: 90px;
    text-align: center;
    background-size: cover;
    display: inline-block;
    // width: 90px;
    width: 33%;
    border-right: none;
  }
  main.fitxa article .content section.related-articles .item h1 {
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 35px;
    padding-top: 10px;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
  }
  main.fitxa article .content section.related-articles .item {
    width: 100%;
    min-height: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #999;
    border-right: none;
    margin-bottom: 0px;
  }
 
}

/*--------------- PHONE --------------------------*/
@media(max-width:639px) {

   main.fitxa article .content .video-news {
      width: 100%;
      height: 250px;
  }
  
}
